@import "bootstrap/_functions";
@import "bootstrap/_variables";
@import "bootstrap/mixins/color-mode";

$primary: #4e7bba;
$secondary: #4e2889;

/* sidebar colors */
$sidebar-bg: #414c5b;

$color-mode-type: data;

/* dark mode */
@include color-mode(dark) {
  #content {
    color: $light;
    background-color: $dark;
  }

  #navbar-content-wrapper {
    color: $light;
    background-color: $dark;
  }

  #sidebar_left {
    background-color: #343b45;
  }

  #footer {
    color: $light;
    background-color: $black;
  }

  #contextmenu {
    color: $light;
    background-color: $dropdown-dark-bg;
  }
}

/* light mode */
@include color-mode(light) {
    #content {
      color: $dark;
      background-color: $gray-100;
    }

    #navbar-content-wrapper {
        color: $dark;
        background-color: $white;
    }

    #sidebar_left {
        background-color: $sidebar-bg;
    }

    #footer {
        color: $dark;
        background-color: $light;
    }

    #contextmenu {
        color: $dark;
        background-color: $white;
    }
}

/* import everything where we need changed bootstrap variables for here */
// @import "bootstrap/bootstrap";