/*
----- scss color definitions -----
document gets imported to light.scss and dark.scss
changes mode to light or dark by changing source file .css
*/

body {
    background: $bg;
}

.active > a {
  color: $info!important;
}

/* ----- dropdowns ----- */
.dropdown-menu, .cone-mainmenu-dropdown {
  background-color: $dropdown;
  border: 1px solid $border;
  box-shadow: 0 0 1.5rem rgba(53, 59, 65, 0.1);

  a {
    color: $fmedium;
    text-decoration: none;

    &:hover {
      color: $fhover;
      transition: color .25s;
      background: transparent;
    }
  }
}


/* ----- topnav ----- */
#topnav {
  background-color: $menu;

  .apps-link:hover {
    background-color: $menus;
    color: $fhover;
    transition: all .25s;
  }

  &.mobile {
    #topnav-content {
      background-color: $menus;
      box-shadow: 0 5px 5px rgba($color: black, $alpha: 0.2);
    }
    #personaltools::before {
      background-color: $fmedium;
    }
  }
}


/* ----- main menu ----- */
#mainmenu {
  .dropdown-title {
    background-color: $info;
    color: white;
  }

  li.active i {
    color: $info;
  }

  li:hover > * {
    color: $fhover;
    transition: .25s;
  }
}


/* ----- mobile menu ----- */
#topnav.mobile {
  .sidebar-heading {
    border-top: 1px solid $fmedium;
    color: $flight;
    &#navtree-heading:hover {
      color: $info;
      transition: color .25s;
    }
  }

  .dropdown-arrow {
    &:hover {
      color: $info;
      transition: color .3s;
    }
  }

  #personaltools {
    border-top: 1px solid $fmedium;
    #pt-wrapper:hover {
      color: $info;
      transition: color .3s;
      .profile-image {
        box-shadow: none;
        border-color: $info;
        transition: all .3s;
        > i {
          color: $info;
          transition: color .3s;
        }
      }
    }
  }
}
#mobile-menu-toggle {
  color: $fmedium;
}

#mobile-menu-content {
  border: 1px solid $border;
  border-top: none;
  background-color: $menus;
}


/* ----- searchbar ----- */
#cone-searchbar {
  .dropdown-title, span {
    color: $fmedium;
  }

  input {
    color: $flight!important;
  }

  .input-group {
    background-color: $sb;
  }

  #searchbar-button {
    background-color: $info;
    color: $fbright;
  }

  #cone-livesearch-dropdown{
    #livesearch:focus {
      border-color: $info;
    }
  }
}


/* ----- toolbar top ----- */
#toolbar-top {
  li {
    color: $fmedium;

    &:hover {
      > i {
        color: $fhover;
        transition: .5s;
        cursor: pointer;
      }
    }

    li:hover {
      color: $fhover;
      transition: color .5s;
    }
  }

  /* -- notifications -- */
  #notifications .user-img {
    background-color: $bg;
    border: 1px solid $fbright;

    > i {
      color: $flight;
    }
  }

  #notifications > ul {
    display: none;
  }

  .tb-tooltip {
    background: $border;
    color: $flight;
  }

  #toolbar_actions > span::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $border;
  }

  .notification.priority {
    &.unread {
      &.high {
        background: rgba($color: $priority-high, $alpha: 0.1);
        * {
          color: $priority-high;
        }

        &:hover * {
          color: $priority-high;
        }

        &::before {
          color: $priority-high;
        }
      }
      &.medium {
        background: rgba($color: $priority-medium, $alpha: 0.1);
        * {
          color: $priority-medium;
        }

        &:hover * {
          color: $priority-medium;
        }
      }
      &.low {
        background: rgba($color: $priority-low, $alpha: 0.1);
        * {
          color: $priority-low;
        }

        &:hover * {
          color: $priority-low;
        }
      }
    }

    &.read {
      background: $bg;
    }
  }

  #toolbar_actions > span:hover {
    cursor: pointer;
    color: $fhover;
  }
}


/* -- personal tools -- */
#personaltools {
  color: $flight;
  background-color: $menus;

  .profile-image {
    background-color: $bg;
    border: 1px solid $fbright;
    > i {
      color: $flight;
    }
  }
}
    

/* ----- sidebar left ----- */
#sidebar_left {
  background-color: $menus;
  border-right: 1px solid $border;

  #sidebar-toggle-btn {
    color: rgba($color: $flight, $alpha: 0.3);
  }

  #sidebar_footer {
    background-color: $menus;
  }

  .sidebar-heading {
    color: $flight;
  }

  #toggle-fluid {
    color: $fmedium;
    &.active{
      color: $info;
    }
  }

  /* .help {
    color: white;
  }
 */
  &.collapsed {
    #sidebar_content >:not(:first-child):before {
      background: $fmedium;
    }
    #navtree {
      .navtreelevel_1.hover {
        background: $info;
  
        > a { color: white; }
  
        ul {
          background: $menu;
          border: 1px solid $border;
        }
      }
    }
    #mainmenu_sidebar {
      > li.hover {
        background: $info;
  
        > a { color: white;}
  
        ul {
          background: $menu;
          border: 1px solid $border;
        }
      }
    }
  }
}


/* ----- breadcrumb ----- */
.breadcrumb {
  h2 {
    color: $flight;
    font-size: 1.2rem;
    font-weight: semibold;
  }

  a {
  color: $fmedium;
    &:hover, &:active {
      color: $fhover;
    }
  }

  .breadcrumb-item.active {
    color: $flight;
  }
}

/* ----- content ----- */
#content {
  color: $fmedium;
}

/* ----- footer ----- */
#cone-footer {
  color: $fmedium;
}


/* ----- general styles ----- */

/* -- links -- */
a, label {
  color: $fmedium;
}

a:hover {
  color: $fhover;
}

/* -- badges, buttons -- */
.noti-badge-round {
  background: red;
  color: white;
}

.btn-inf {
  background-color: $info;
  color: $fbright;
}

.form-check-input:checked {
  background-color: $info;
  border-color: $info;
}

.dropdown-arrow {
  color: $flight;
}

/* -- scrollbar -- */
.scrollbar {
  background: rgba($color: $flight, $alpha: 0.1);
    .scroll-handle {
      background: rgba($color: $flight, $alpha: 0.2);
      &:hover, &.active {
        background: $info;
      }
    }
}
