/* ----- dark mode ----- */

$bg :#2E2E33;
$menu : #434348;
$menus : #38383D;
$sb : #57575C;
$sb_border: #949499;
$fbright : #ECF5FD;
$flight : #E6E6EB;
$fmedium : #949499;
$fhover: #dfe8f0;
$info: #5bc0de;
$dropdown: #48484D; 
$border:#2E2E33;

$priority-high: #e60000;
$priority-medium: #ff9c07;
$priority-low: #5bc0de;

@import "colorscheme.scss";

#notifications {
    .notification.priority {
        &.unread {
          &.high {
            background: $priority-high;
            * {
              color: white;
            }
            &:hover * {
              color: white;
            }
            &::before {
              color: white;
            }
          }
          &.medium {
            background: $priority-medium;
            * {
              color: white;
            }
            &:hover * {
              color: white;
            }
          }
          &.low {
            background: $priority-low;
            * {
              color: white;
            }
            &:hover * {
              color: white;
            }
          }
        }
    }
}