
/* header */
#header-logo {
    z-index: 4;
}
#header-logo, #header-logo-placeholder {
    > span {
        font-size: 1.5rem!important;
    }
}

#main-area {
    &.compact {
        &:not(.super-compact) {
            #header-logo {
                order: 0;
            }
            #personaltools {
                order: 1;
                margin-left: auto;
            }
            .navbar-toggler {
                order: 2;
            }
            #navbar-content-wrapper {
                order: 3;
            }
        }

        #header-main.mobile-menu-open {

            #navbar-content-wrapper {
                max-height: calc(100vh - 50px);
                position: relative;
                overflow: hidden;
                padding: 0 !important;
                z-index: 3;

                @media screen and (max-width: 768px) {
                    z-index: 1200;
                }
            }

            #mainmenu {
                align-items: baseline;

                .scrollbar {
                    display: none!important;
                }
                .scrollable-content {
                    right: 0!important;
                }

                .dropdown-menu {
                    border: none;

                    > li {
                        .dropdown-item {
                            padding: 8px 20px;
                        }
                        &:first-child {
                            .dropdown-item {
                                padding-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    &.super-compact {
        #personaltools {
            height: 50px;
            justify-content: space-between;
            margin: auto 20px;

            #colortoggler {
                padding-left: 0;
            }
        }
    }
    &.full {
        #header-logo {
            order: 1;
        }
        #mainmenu {
            height: var(--navbar-height);

            .dropdown-menu {
                position: fixed;
            }
        }
        #personaltools {
            height: 100%;
        }
    }
    #header-main {
        height: var(--navbar-height);

        &.navbar-expand {
            #header-content {
                flex-direction: row-reverse;
            }
            #navbar-content-wrapper {
                box-shadow: none!important;
                background: none;
            }
        }
        &:not(.navbar-expand) {
            #header-content {
                flex-direction: row;
            }

            #navbar-content {
                flex-direction: column;
            }
            #livesearch {
                order: 0;
                width: 100%;
                padding-left: 55px !important;
                padding-right: 15px !important;
            }
            #mainmenu {
                order: 1;
                margin-left: 10px!important;
                margin-top: 20px;
                margin-bottom: 20px;

                ul > li {
                    // XXX
                    display: block!important;
                }
            }
        }

        #navbar-content-wrapper {
            min-width: 0;
            z-index: 1;

            #navbar-content {
                min-width: 0;
            }
        }
        #mainmenu {
            > ul {
                padding-left: 8px;
                white-space: nowrap;
            }
            .nav-item.active .nav-link {
                color: $primary;
            }
        }

        #personaltools {
            #language-dropdown > div.dropdown-toggle > a {
                height: 20px;

                img {
                    vertical-align: baseline;
                }
            }
            #colortoggler #colortoggle-switch {
                width: 2rem;
                height: 1rem;
            }
        }
    }
}
#personaltools-dropdown {
    .dropdown-item a {
        text-decoration: none;
        color: $form-text-color;
    }
}
#pathbar {
    z-index: 5;
}
