@import 'colors';
@import "bootstrap/mixins/_breakpoints";

:root {
    --sidebar-width: 300px;
    --navbar-height: 50px;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
}
#footer {
    z-index: 1;
}
.referencebrowser_trigger {
    cursor: pointer;
}

@import 'content.scss';
@import 'form.scss';
@import 'header.scss';
@import 'login.scss';
@import 'logo.scss';
@import 'scrollbar.scss';
@import 'sidebar.scss';
@import 'table.scss';
@import 'settings.scss';
