@import 'colors';
@import "bootstrap/mixins/_breakpoints";

:root {
    --sidebar-width: 300px;
    --navbar-height: 50px;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    overflow-y: hidden;
}
#footer {
    z-index: 1;
}
.referencebrowser_trigger {
    cursor: pointer;
}
#referencebrowser {
    // remove modal padding visually
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    left: calc(-1 * var(--bs-modal-padding));
    width: calc(100% + var(--bs-modal-padding) * 2);
}

@import 'content.scss';
@import 'form.scss';
@import 'header.scss';
@import 'login.scss';
@import 'logo.scss';
@import 'scrollbar.scss';
@import 'sidebar.scss';
@import 'table.scss';
@import 'settings.scss';
