@import 'colors';
@import "bootstrap/mixins/_breakpoints";

:root {
    --sidebar-width: 300px;
    --navbar-height: 50px;
}

body {
    height: 100vh;
}

/* sidebar */
#sidebar_left {
    height: 100vh;
    max-height: 100vh;

    .scrollable-y {
        margin-top: 34px;
    }

    ul.list-group, ul.list-group li {
        background-color: inherit;
    }

    #navtree {
        a.nav-link {
            z-index: 2000;
        }
    }
}

/* header */
#header-logo > span {
    font-size: 1.5rem!important;
}
#header-main {
    height: 50px;
}
#navbar-content {
    z-index: 3000;
}
#colortoggle-switch {
    width: 2rem;
    height: 1rem;
}
#mainmenu {
    > ul {
        white-space: nowrap;
    }
}
#navbar-content {
    min-width: 0;
}

/* content */
#content {
    height: calc(100% - 40px);
}
#main-area {
    width: 0!important; /* prevent 'jumping' between 1400 and 1440px */
}

/* scrollbar */
.scrollable-x, .scrollable-y {
    position: relative;
    overflow: hidden;
}
.scrollable-content {
    position: relative;
}
.scrollbar {
    display: none;
    position: absolute;
    background: $gray-300;
    border-radius: 3px;
    z-index: 1000;

    .scroll-handle {
        position: relative;
        border-radius: 3px;
        background: $primary;
    }
}
.scrollbar-top {
    .scrollbar {
        top: 0;
    }
}
.scrollbar-bottom {
    .scrollbar {
        bottom: 0;
    }
}
.scrollbar-left {
    .scrollbar {
        left: 0;
    }
}
.scrollbar-right {
    .scrollbar {
        right: 0;
    }
}

/* responsive changes */
@include media-breakpoint-up(lg) {
    #navbar-content, #mainmenu {
        height: 100%;
    }
    #personaltools {
        order:2;
    }
    #colortoggler {
        order:1;
    }
}
@include media-breakpoint-between(lg, xxl) {
    #navbar-content {
        margin-left: 200px;
    }
}
@include media-breakpoint-up(xxl) {
    #header-logo {
        color: #fff;
    }
}

.table_length, .table_filter {
    width: unset;
}