@import 'colors';
@import "bootstrap/mixins/_breakpoints";

:root {
    --sidebar-width: 300px;
    --navbar-height: 50px;
}

// general layout
body {
    height: 100vh;
}

#content {
    height: calc(100% - 40px);
}

#navtree {
    a.nav-link {
        z-index: 2000;
    }
}

@include media-breakpoint-up(lg) {
    #personaltools {
        order:1;
    }
}
@include media-breakpoint-between(lg, xxl) {
    #navbar-content {
        margin-left: 200px;
    }
}
@include media-breakpoint-up(xxl) {
    #header-logo {
        color: #fff;
    }
}

#header-logo > span {
    font-size: 1.5rem!important;
}

#main-area {
    width: 0!important; /* prevent 'jumping' between 1400 and 1440px */
}

#header-main {
    height: 50px;
}

#navbar-content {
    z-index: 3000;
}

#colortoggle-switch {
    width: 2rem;
    height: 1rem;
}
