@import 'colors';
@import "bootstrap/mixins/_breakpoints";

:root {
    --sidebar-width: 300px;
    --navbar-height: 50px;
}

body {
    height: 100vh;
}

/* sidebar */
#sidebar_left {
    height: 100vh;
    max-height: 100vh;
    user-select: none;

    .scrollable-y {
        margin-top: 34px;
    }

    ul.list-group, ul.list-group li {
        background-color: inherit;
    }

    #navtree {
        max-width: 100%;

        .nav-link {
            z-index: 2000;
            white-space: nowrap;

            i.bi-chevron-right {
                vertical-align: text-bottom;
            }

            span {
                display: inline-block;
                width: calc(100% - 40px);
                text-overflow: ellipsis;
                overflow-x: hidden;
                vertical-align: text-bottom;
            }
        }
    }

    #sidebar_resize {
        position: relative;
        left: 100%;
        width: 0;
        height: 0;

        #sidebar_resizer {
            position: absolute;
            z-index: 3;
            height: 100vh;
            width: 20px;
            transform: translateX(-50%);
            cursor: col-resize;
        }
    }

    #sidebar_collapse {
        position: relative;
        left: 100%;
        top: 100%;
        width: 0;
        height: 0;

        .collapse_btn {
            position: absolute;
            bottom: 0px;
            border-radius: 100%;
            z-index: 4;
        }
    }

    &.collapsed {
        width: 0px!important;
        min-width: 0!important;

        #sidebar_resize {
            display: none;
        }
        #sidebar_collapse .collapse_btn .bi-chevron-left {
            display: none;
        }
    }
    &.expanded {
        #sidebar_collapse .collapse_btn .bi-chevron-right {
            display: none;
        }
    }

    @include media-breakpoint-up(xxl) {
        &:not(.collapsed) #sidebar_collapse .collapse_btn {
            transform: translateX(-20px);

            .bi-chevron-right {
                display: none;
            }
        }
    }
    @include media-breakpoint-down(xxl) {
        &:not(.expanded) {
            width: 0!important;
            min-width: 0!important;

            #sidebar_resize {
                display: none;
            }
            #sidebar_collapse .collapse_btn .bi-chevron-left {
                display: none;
            }
        }
    }
    @include media-breakpoint-between(md, xxl) {
        &.expanded #sidebar_collapse .collapse_btn {
            transform: translateX(-20px);
        }
    }
    @include media-breakpoint-down(md) {
        #sidebar_resize {
            display: none;
        }
        &.expanded {
            width: 100%!important;
            z-index: 3;

            #sidebar_collapse {
                left: calc(100% - 50px);
            }
        }
    }
}

/* header */
#header-logo {
    z-index: 4;

    > span {
        font-size: 1.5rem!important;
    }
}
#header-main {
    height: 50px;

    #navbar-content {
        z-index: 3000;
        min-width: 0;
    }
    #colortoggle-switch {
        width: 2rem;
        height: 1rem;
    }
    #mainmenu {
        > ul {
            white-space: nowrap;
        }
    }
    @include media-breakpoint-down(lg) {
        #navbar-content.show, #navbar-content.collapsing {
            display: flex;
            flex-direction: column;
        }
        #mainmenu {
            order: 1;
        }
        #livesearch {
            width: 100%;
            padding-left: 40px!important;
        }
    }
    @include media-breakpoint-down(sm) {
        #header-tools > div {
            padding: 5px 0;
            width: 50%;
            display:inline-flex!important; 
        }
        #personaltools {
            flex-direction: column;

            .dropdown-menu {
                position: relative;
                width: 200%;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        #navbar-content, #mainmenu {
            height: 100%;
        }
        #navbar-content {
            box-shadow:none!important;
        }
        #personaltools {
            order:2;
        }
        #colortoggler {
            order:1;
        }
    }
    @include media-breakpoint-between(lg, xxl) {
        #navbar-content {
            margin-left: 200px;
        }
    }
}

/* content */
#content {
    height: calc(100% - 40px);
}
#main-area {
    width: 0!important; /* prevent 'jumping' between 1400 and 1440px */
}

/* scrollbar */
.scrollable-x, .scrollable-y {
    position: relative;
    overflow: hidden;
}
.scrollable-content {
    position: relative;
}
.scrollbar {
    display: none;
    position: absolute;
    background: $gray-300;
    border-radius: 3px;
    z-index: 1000;

    .scroll-handle {
        position: relative;
        border-radius: 3px;
        background: $primary;
    }
}
.scrollbar-top {
    .scrollbar {
        top: 0;
    }
}
.scrollbar-bottom {
    .scrollbar {
        bottom: 0;
    }
}
.scrollbar-left {
    .scrollbar {
        left: 0;
    }
}
.scrollbar-right {
    .scrollbar {
        right: 0;
    }
}

/* responsive changes */
@include media-breakpoint-up(xxl) {
    #header-logo {
        color: #fff;
    }
}

.table_length, .table_filter {
    width: unset;
}
