*.egg-info
*.pyc
/.coverage
/.mxmake/
/.project
/.pydevproject
/.pydevproject.bak
/.settings/
/.vscode/
/build/
/constraints-mxdev.txt
/coverage/
/dist/
/docs/cone.app.zip
/docs/doctrees/
/docs/html/
/docs/latex/
/docs/make.bat
/docs/Makefile
/htmlcov/
/js/karma/
/node_modules/
/package-lock.json
/pip-selfcheck.json
/pnpm-lock.yaml
/pyvenv.cfg
/requirements-mxdev.txt
/sources/
/twistd.pid
/venv/
