*.pyc
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
/.pydevproject.bak
/.settings/
/.vscode/
/lib64
/pyvenv.cfg
/buildout.cfg
/twistd.pid
/src/cone.app.egg-info/
/include/
/lib/
/local/
/share/
/pip-selfcheck.json
/bin/
/env/
/develop-eggs/
/devsrc/
/eggs/
/parts/
/dist/
/coverage/
/share/
/docs/Makefile
/docs/doctrees/
/docs/html/
/docs/make.bat
/docs/cone.app.zip
/docs/latex/
include/
/lib/
/local/
/pip-selfcheck.json
/py2/
/py3/
/.coverage
/htmlcov/
