*.pyc
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
/.pydevproject.bak
/.settings/
/twistd.pid
/src/cone.app.egg-info/
/bin/
/env/
/develop-eggs/
/devsrc/
/eggs/
/parts/
/dist/
/docs/Makefile
/docs/doctrees/
/docs/html/
/docs/make.bat
/docs/source/conf.py
/docs/cone.app.zip
/docs/latex/
