/* squarewave colors */
/* sidebar colors */
[data-bs-theme=dark] #content {
  color: #f8f9fa;
  background-color: #212529;
}
[data-bs-theme=dark] #navbar-content {
  color: #f8f9fa;
  background-color: #212529;
}
[data-bs-theme=dark] #sidebar_left {
  background-color: #343b45;
}

[data-bs-theme=light] #content {
  color: #212529;
  background-color: #f8f9fa;
}
[data-bs-theme=light] #navbar-content {
  color: #212529;
  background-color: #fff;
}
[data-bs-theme=light] #sidebar_left {
  background-color: #414c5b;
}

/* import everything where we need changed bootstrap variables for here */
:root {
  --sidebar-width: 300px;
  --navbar-height: 50px;
}

body {
  height: 100vh;
}

#sidebar_left ul.list-group, #sidebar_left ul.list-group li {
  background-color: inherit;
}

#content {
  height: calc(100% - 40px);
}

#navtree a.nav-link {
  z-index: 2000;
}

@media (min-width: 992px) {
  #personaltools {
    order: 2;
  }
  #colortoggler {
    order: 1;
  }
}
@media (min-width: 992px) and (max-width: 1399.98px) {
  #navbar-content {
    margin-left: 200px;
  }
}
@media (min-width: 1400px) {
  #header-logo {
    color: #fff;
  }
}
#header-logo > span {
  font-size: 1.5rem !important;
}

#main-area {
  width: 0 !important; /* prevent 'jumping' between 1400 and 1440px */
}

#header-main {
  height: 50px;
}

#navbar-content {
  z-index: 3000;
}

#colortoggle-switch {
  width: 2rem;
  height: 1rem;
}
