:root {
  --sidebar-width: 300px;
  --navbar-height: 50px;
}

body {
  height: 100vh;
}

#content {
  height: calc(100% - 40px);
}

#navtree a.nav-link {
  z-index: 2000;
}

@media (min-width: 992px) {
  #personaltools {
    order: 1;
  }
}
@media (min-width: 992px) and (max-width: 1399.98px) {
  #navbar-content {
    margin-left: 200px;
  }
}
@media (min-width: 1400px) {
  #header-logo {
    color: #fff;
  }
}
#header-logo > span {
  font-size: 1.5rem !important;
}

#main-area {
  width: 0 !important; /* prevent 'jumping' between 1400 and 1440px */
}

#header-main {
  height: 50px;
}

#navbar-content {
  z-index: 3000;
}
