/*
----- scss color definitions -----
document gets imported to light.scss and dark.scss
changes mode to light or dark by changing source file .css
*/

body {
    background-color: $bg;
}

.active > a {
  color: $info!important;
}

/* ----- dropdowns ----- */
.dropdown-menu, .cone-mainmenu-dropdown {
  background-color: $dropdown;
  border: 1px solid $border;
  box-shadow: 0 0 1.5rem rgba(53, 59, 65, 0.1);

  a {
    color: $fmedium;
    text-decoration: none;

    &:hover {
      color: $fhover;
      transition: color .25s;
      background: transparent;
    }
  }
}


/* ----- topnav ----- */
#topnav {
  background-color: $menu;

  .apps-link:hover {
    background-color: $menus;
    transition: background-color .25s;
  }

  &.mobile #topnav-content {
    background-color: $menus;
    box-shadow: 0 5px 5px rgba($color: black, $alpha: 0.2);

  }
}


/* ----- main menu ----- */
#mainmenu {
  .dropdown-title {
    background-color: $info;
    color: white;
  }

  li:hover > a {
    color: $fhover;
    transition: .25s;
  }
}


/* ----- mobile menu ----- */
#mobile-menu-toggle {
  color: $fmedium;
}

#mobile-menu-content {
  border: 1px solid $border;
  border-top: none;
  background-color: $menus;

  .sidebar-heading hr {
    border-top: 1px solid rgba($color: $flight, $alpha: 0.2)
  }
}


/* ----- searchbar ----- */
#cone-searchbar {
  .dropdown-title, span {
    color: $fmedium;
  }

  input {
    color: $flight!important;
  }

  .input-group {
    background-color: $sb;
  }

  #searchbar-button {
    background-color: $info;
    color: $fbright;
  }

  #cone-livesearch-dropdown{
    #livesearch:focus {
      border-color:$info;
    }
  }
}


/* ----- toolbar top ----- */
#toolbar-top {
  li {
    color: $fmedium;

    &:hover {
      i {
        color: $fhover;
        transition: .5s;
        cursor: pointer;
      }
    }

    li:hover {
      color: $fhover;
      transition: color .5s;
    }
  }

  /* -- notifications -- */
  #notifications .user-img {
    background-color: $bg;
    border: 1px solid $fbright;

    > i {
      color: $flight;
    }
  }
}


/* -- user account -- */
#personaltools {
  color: $flight;
  background-color: $menus;

  .profile-image {
    background-color: $bg;
    border: 1px solid $fbright;
    > i {
      color:$flight;
    }
  }
}
    

/* ----- sidebar left ----- */
#sidebar_left {
  background-color: $menus;
  border-right: 1px solid $border;

  #sidebar-toggle-btn {
    color: rgba($color: $flight, $alpha: 0.3);
  }

  li {
    &.active .dropout > a {
    color: $info;
    }
  }

  .sidebar-heading {
    color: $flight;
  }

  /* .help {
    color: white;
  }
 */
  &.collapsed #navtree {
    .navtreelevel_1:hover {
      background: $info;

      > a { color: white;}

      ul {
        background: $menu;
        border: 1px solid $border;
      }
    }
  }
}


/* ----- breadcrumb ----- */
.breadcrumb {
  h2 {
    color: $flight;
    font-size: 1.2rem;
    font-weight: semibold;
  }

  a {
  color: $fmedium;
    &:hover, &:active {
      color: $fhover;
    }
  }

  .breadcrumb-item.active {
    color: $flight;
  }
}


/* ----- footer ----- */
.footer-custom {
  border-top: 1px solid $fmedium;
  color: $fmedium;
}


/* ----- general styles ----- */

/* -- links -- */
a, label {
  color: $fmedium;
}

a:hover {
  color: $fhover;
}

/* -- badges, buttons -- */
.noti-badge-round {
  background: red;
  color: white;
}

.btn-inf {
  background-color: $info;
  color: $fbright;
}

.form-check-input:checked {
  background-color: $info;
  border-color: $info;
}

/* -- scrollbar -- */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: $bg; 
}

::-webkit-scrollbar-thumb {
  background: $fmedium;
  border-radius:20px;
}

::-webkit-scrollbar-thumb:hover {
  background: $fhover;
}
