/*
-- scss color definitions --
* document gets imported to light.scss and dark.scss
* switch.js changes mode to light or dark by changing source file .css
*/

body {
    background-color: $bg;
  }

.btn-inf {
  background-color: $info;
  color:$fbright;
}

/*mainmenu.scss*/
#mainmenu {
  .mainmenu-dropdown > :first-child {
    background-color:$info;
    color:white;
  }
}


/*start style.scss*/
    /*dropdown dark*/
      .dropdown-menu-custom {
        /*change colors of dropdowns in sidebar&header - BS override*/
        background-color:$menu;
        a {
          color: $fmedium;
          text-decoration:none;
          &:hover, &:active {
            color: $flight;
          }
        }
      }
    /*end dropdown dark*/

    /*start content*/
      #content-wrapper .card {
        background-color: $menu;
        color: $fmedium;
      }

      /*start breadcrumb*/
      .breadcrumb {
        h2 {
          color:$flight;
          font-size:1.2rem;
          font-weight:semibold;
        }
        a {
        color: $fmedium;
            &:hover, &:active {
              color: $flight;
            }
        }
        .breadcrumb-item.active {
          color: $flight;
        }
      }
      /*end breadcrumb*/

      /*start footer*/
      .footer-custom {
        border-top: 1px solid $fmedium;
        color: $fmedium;
      }
      /*end footer*/
/*end style.css*/
  
/*start topnav.scss*/


/*topnav old*/

#mainmenu .dropdown-menu {
    a:hover {
      color:$info;
    }
  }

/*end topnav old*/


    .topnav-custom {
      background-color: $menu;
      .dropdown-menu-custom {
        background-color: $dropdown;
        border:1px solid $border;
        > :first-child {
          color:$fmedium;
        }
      }
      .apps-link:hover {
        background-color: $menus;
        color:$flight;
      }
    }
    a, label {
      color:$fmedium;
    }
    a:hover {
      color:$fhover;
    }
    .noti-badge-round {
      background:red;
      color:white;
    }

    .dropdown-menu-right {
      /*language*/
      > * {
        &:hover {
          color: $flight;
        }
      }
      &.item > :first-child {
        color:$flight;
      }

    }
    
    /*start searchbar*/
    #topnav-searchbar {

      input {
          color: $flight!important;
          background-color: $sb!important;
      }
      #searchbar-button {
        background-color: $info;
        color: $fbright;
      }
    }

    /*end searchbar*/

    /*notifications*/
    #notifications .user-msg {
      background-color: $bg;
      border: 1px solid $fbright;
      > i {
        color:$flight;
      }
    }
    
    /*start navbar-brand (logo)*/
    .navbar-brand {
      a {
        color: $flight;
      }
    }
    /*end navbar-brand (logo)*/
    
    /*user-account*/
    .user-account {
      color: $fbright;
      background-color: $menus;
      a:hover, &:active {
        color:$flight;
      }
      .profile-image {
        background-color: $bg;
        border: 1px solid $fbright;
        > i {
          color:$flight;
        }
      }

      .dropdown-menu-user a {
        color: $fmedium;
        &:hover {
          color: $flight;
        }
      }
    }
    /*end user-account*/



/*end topnav.scss*/
    

/*start sidebar.scss*/
    #sidebar_left {
      background-color:$menus;

      li {
        &.active .dropdown > a {
        color: $info;
        }
      }

      .sidebar-heading {
        /*change headings (+hr on sm/md) in sidebar*/
        color: $flight;
      }

      .help {
        /*change font color of help*/
        color: white;
      }
    }
  
    /*start lg*/
    @media (min-width: 992px) {
      #sidebar_left {border-right: 1px solid $border;}
      #sidebar_left .dropdown a:hover , a:active {
        /*change hover clr on sidebar icons & a*/
        color:$fhover;
      }
    }
    /*end lg*/
    

    /*start md*/
    @media (min-width:576px) and (max-width:991.9px) {
      #sidebar_left {
        border-right: 1px solid $border;
        .dropdown {
            a:hover , &:active {
                /*change color of dropout links*/
                color:$fhover;
            }
        }
        /*change color of icons on hover, keep clr in submenu*/
        ul > li:hover, &:active {
          i {
            color:white;
          }
        }
        .sidebar-dropout {
          background-color: $bg;
          > :first-child > :first-child {
            /*change dropout title*/
            color: $fbright;
            background-color: $info;
            font-weight:400;
          }
        }
        
        .sidebar-heading hr {
            /*change colour of hr on md*/
            border-top: 1px solid rgba($color: $flight, $alpha: 0.5)
        }
      }
    }
    /*end md*/

    /*start sm*/
    .hamburgerMenu{
      color:$fmedium;
    }
    @media(max-width:575.9px){

      #sidebar_left {
        border:1px solid $border;
        border-top:none;
        /*change bgcolor of sidebar*/
        background-color:$menus;
        .dropdown {
          a:hover , a:active {
            /*change fontcolor of items in sidebar*/
            color:$fhover;
          }
        }
        .list-group {
          .list-group-item {
            /*font color of submenu*/
            color:$fmedium;
          }
          .help {
            color: white;
          }
        }
        .sidebar-heading hr{
            /*change colour of hr on sm*/
          border-top: 1px solid rgba($color: $flight, $alpha: 0.2)
        }
      }
    }
    /*end sm*/
/*end sidebar.scss*/
    