/*dark mode*/

$bg :#2E2E33;
$menu : #434348;
$menus : #38383D;
$sb : #57575C;
$fbright : #ECF5FD;
$flight : #E6E6EB;
$fmedium : #949499;
$test-red: red;
$fhover: #dfe8f0;
$dropdown: #48484D; 
$border:#2E2E33;

@import "colorscheme.scss";