/*light mode*/

$bg :#F5F5FA; /*body background*/
$menu :#ffffff; /*main menus*/
$menus : #FAFAFC; /*secondary menus*/
$sb : #F5F5FA;; /*search bar*/
$fbright : #ECF5FD; /*font bright*/
$flight : #57575C; /*font light*/
$fmedium : #717176; /*font medium*/
$test-red: red; 
$fhover: #5bc0de; /*font hover color*/
$dropdown: white;
$border:#EBEBF0;

@import "colorscheme.scss";