/* ----- mainmenu ----- */
.scroll-container {
  overflow-x: auto;
  transform: rotate(180deg);
  margin-right: auto;
  height: 100%;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items: center;
}

.cone-mainmenu-dropdown {
  position: absolute;
  z-index: 1000;
  padding: .5rem;
  min-width: 10rem;
  display: none;

  ul {
    list-style:none;
    padding:0;
    margin:0;
  }
}

#mainmenu {
  display: inline-flex;
  flex-wrap: nowrap;
  height: 100%;
  margin-bottom: 0;
  padding: 0;
  transform: rotate(180deg);

  li{
    height:100%;
    display:flex;
    align-items:center;
  }
}

@media(min-width:560px) {
  .mainmenu-item {
    white-space: nowrap;
    padding: 0 10px;
    .dropdown-arrow {
      left: .4rem;
      font-size: .7rem;
    }
    .dropdown-title {
      font-weight: bold;
      padding: .5rem 1.5rem;
    }
  }

  .cone-mainmenu-dropdown {
    padding-left: 1.5rem;
    li {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}
