/*mainmenu*/
.mainmenu {
  .dropdown-menu-custom {
    padding:0;
    min-width:10rem;
  }

  .nav-item > a {
    display:inline-block;
  }
}

#topnav-mainmenu {
    margin-right:2rem;
    
      li:hover {
        .dropdown-content {
          display: block;
        }
      }


    .dropdown > div {
      border-radius:0;
      position: absolute;
      top:3.3rem;
    }

    .dropdown-content {
      display: none;
      z-index: 1;
      margin-top:0;
      position:absolute;
    }

    .mainmenu-dropdown {
      padding-left:1.5rem;
  
      > :first-child {
        margin: 0;
        font-weight: bold;
        border: 0;
        width: calc(100% + 1.5rem);
        position: relative;
        left: -1.5rem;
        padding-left: 1.5rem;
        height: 2.5rem;
        padding-top: 0.5rem;
      }
      > :only-child {
        margin-bottom:0;
      }
      li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }
    /*end mainmenu styles*/