#topnav.mobile {
  height: 4rem;
  padding: 1rem;

  ul {
    margin: 0;
  }

  #mobile-menu-toggle {
    display: block;
    font-size: 2rem;
    margin-left: 1rem;
  }

  #cone-logo {
    margin-right: auto;
  }

  #cone-searchbar {
    order: -1;
    .input-group-append {
      position: absolute;
      right: 0;
    }
    #cone-searchbar-wrapper{
      height: min-content;
    }
    #cone-livesearch-dropdown {
      position: relative!important;
      transform: none!important;
      max-width: 100%;
      width: 100%;
    }
  }

  #topnav-content {
    position: absolute;
    top: 4rem;
    left: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    z-index: 1000;

    > * {
      margin: 1rem 0 0 0;
      padding: 0 1rem;
    } 
  }

  #personaltools {
    display: inline-block;
    min-height: max-content;
    border: 0;

    .dropdown-arrow {
      display: inline-block;
      position: absolute;
      right: 1rem;
    }

    #user {
      position: relative!important;
      top: -.5rem;
      transform: none!important;
      background: transparent;
      box-shadow: none;
      border: none;
    }
  }

  #main-menu {
    transform: none;
    overflow: visible;
  }
  #mainmenu {
    padding: 0;
    line-height: 2;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    transform: none;

    .mainmenu-title {
      display: inline-block;
    }

    .dropdown-arrow {
      float: right;
    }

    .mainmenu-item {
      display: block;
    }

    .cone-mainmenu-dropdown {
      position: relative;
      display: none;
      box-shadow: none;
      top: 0;
      padding: 0 0 0 1rem;
      background: transparent;
      border: none;

      .dropdown-title {
        display: none;
      }

      .mainmenu-dropdown {
        line-height: 1.5;
        padding: 0;

        li {
          margin: .5rem 0;
          width: 100%;
        }
      }
    }
  }

  //navtree
  #navtree.mobile {
    padding: 0;

    .dropdown-arrow {
      float: right;
      display: inline-block;
    }

    #navtree-content {
      margin-top: 1rem;
      display: none;
    }

    .sidebar-heading {
      padding: 1rem 1rem 0 1rem;
      text-transform: uppercase;
    }

    .navtreelevel_1 {
      padding: 0 1rem;
      padding-bottom: .5rem;
      ul {
        margin: .25rem 0;
        font-size: .95em;
        padding: 0;
        ul {
          padding: 0;
          margin-left: 1rem;
        }
      }
      li {
        padding-top: .25rem;
        &:not(:last-child) {
          padding-bottom: .25rem;
          border-left: 1px solid grey;
          &:before { // sets borders in navtree navigation
            content: "";
            display: inline-block;
            height: 1rem;
            width: 0.8rem;
            transform: translate(-1px, -25%);
            border-radius: 0 0 0 5px;
            border: 1px solid;
            border-color: transparent transparent grey grey;
          }
        }
        &:last-child {
          &:before { // sets borders in navtree navigation
            content: "";
            display: inline-block;
            height: 1rem;
            width: 0.8rem;
            transform: translateY(-25%);
            border-radius: 0 0 0 5px;
            border: 1px solid;
            border-color: transparent transparent grey grey;
          }
        }
      }
    }
  }
}
