#topnav.mobile {
  height:4rem;
  padding:1rem;

  #mobile-menu-toggle {
    display:block;
    font-size:2rem;
  }

  #cone-searchbar {
    margin-right:0;
  }

  #topnav-content {
    position: absolute;
    top: 4rem;
    left:0;
    display:none;
    width: 100%;
    height:calc(100vh - 4rem);
    padding: 1rem;
    background: lightgray;
    z-index:1000;
    > * {
      margin-bottom:1rem;
    }
  }
  .dropdown-arrow {
    float:right;
  }
  .cone-dropdown-menu {
    padding:0;
    background:transparent;
    border:none;
    .dropdown-title {
      display:none;
    }
  }

  #personaltools {
    margin:0;
  }

  #toolbar-top {
    > li {
      vertical-align: top;
    }
    .toolbar-title {
        display: none;
    }
    .cone-dropdown-menu {
      background-color: yellow;
    }
  }

  #mainmenu {
    line-height: 2;
    width:100%;
    height:auto;
    flex-direction:column;

    .mainmenu-title {
      display:inline-block;
    }

    .mainmenu-dropdown {
      line-height:1.5;
      padding: 0 0 0 1rem;

      li {
        margin: .5rem 0;
        width:100%;
      }
    }
  }
}