/* ----- mobile menu ----- */

#mobile-menu {
  display: none;

  &.active {
    display: inline-flex;
    align-items: center;
  }

  .dropdown-arrow {
      float: right;
  }
}

#mobile-menu-toggle {
  border: none;
  background-color: transparent;
  
  i {
    font-size: 2rem;
  }
}

/* ----- mobile content ----- */
#mobile-menu-content {
  display: none;
  position: absolute;
  left: 0;
  top: 4rem;
  width: 100%;

  padding: 1.5rem 1rem;
  border-radius: 0 0 10px 10px;

  box-shadow: 1rem 1rem 1rem -1rem rgb(0, 0, 0, .15);
  z-index: 1000;

  #topnav-searchbar .twitter-typeahead {
    width: 100%;
  }
  
  .cone-dropdown-menu {
    display: none;
    position: relative;
    top: 0;
    left: 1rem;
    padding: 0;
    font-size: .85rem;
    box-shadow: none;

    .dropdown-title {
      display: none!important;
    }
    
    .list-group-item {
      padding: 0.5rem 0.5rem 0.5rem 1.3rem;
    }
  }

  .list-group {
    width: 100%;
    background-color: transparent;

    .list-group-item {
      background-color: transparent;
    }
  }

  .sidebar-dropout > :first-child {
    display: none;
    background-color: transparent;
  }

  .sidebar-heading {
    position: relative;
    margin-left: -.5rem;
    margin-bottom: 1rem;

    background-color: transparent;
    font-size: 0.8rem;
    text-transform: uppercase;

    hr {
      display: none;
      }

    &::before { // sets separator between mobile content
        content: "";
        position: absolute;
        bottom: 1.5rem;
        left: -1rem;
        height: 1px;
        width: calc(100% + 2rem);
        background-color: grey;
    }
  }
}

/* ----- mobile searchbar ----- */
#mobile-searchbar {
  width: 100%;
  margin-bottom: 1rem;

  .searchbar {
    width: 100%;
  }

  #search-text {
    display: inline-block;
    position: relative;
  }
}

/* ----- mobile navtree ----- */
#mobile-navtree {
    padding-left: .5rem;
}