#topnav.mobile {
  height:4rem;
  padding:1rem;

  ul {
    margin:0;
  }

  #mobile-menu-toggle {
    display:block;
    font-size:2rem;
    margin-left: 1rem;
  }

  #cone-logo {
    margin-right: auto;
  }

  #cone-searchbar {
    order: -1;
  }

  .cone-dropdown-menu {
    position: relative;
    top: 0;
    padding: 0;
    border: none;
    background: transparent;
    box-shadow: none;
  }

  #topnav-content {
    position: absolute;
    top: 4rem;
    left:0;
    display:none;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    z-index:1000;

    > * {
      margin: .5rem 0;
    } 
  }

  #personaltools {
    display: inline-block;
    min-height: max-content;
    padding: 0;
    border: 0;
  }

  #mainmenu {
    line-height: 2;
    width: 100%;
    flex-direction: column;
    overflow: hidden;

    .mainmenu-title {
      display: inline-block;
    }

    .dropdown-arrow {
      float: right;
    }

    .cone-mainmenu-dropdown {
      position: relative;
      box-shadow: none;
      top: 0;
      padding: 0 0 0 1rem;
      background: transparent;
      border: none;

      .dropdown-title {
        display: none;
      }

      .mainmenu-dropdown {
        line-height: 1.5;
        padding: 0;

        li {
          margin: .5rem 0;
          width: 100%;
        }
      }
    }
  }
}