/* ----- navtree ----- */
#navtree {
  > :first-child {
    margin-top:.5rem;
  }

  .dropdown {
    .dropdown-content {
      display:block;

      ul {
        border:none;

        &:before { // sets border to appear in navtree navigation
          content: "";
          display: inline-block;
          position: absolute;
          left: 0;
          height: calc(100% - 2rem);
          width: 1px;
          background-color: grey;
        }
      }
    }
  }

  .list-group-item {
    .dropdown {
      &:before { // sets borders in navtree navigation
        content: "";
        display: inline-block;
        position: absolute;
        top: -0.5rem;
        left: -1.3rem;
        height: 1rem;
        width: 0.8rem;
        border-radius: 0 0 0 5px;
        border: 1px solid;
        border-color: transparent transparent grey grey;
      }
    }
  }

  .help {
    background-color: #17a2b8!important;
    color:white;

    a:hover {
      background-color: #00899F!important;
    }

    span {
      font-weight:400;
      color:white;
    }

    .badge {
      background-color: white;
      color:#17a2b8;
    }

    svg {
      color:white;
    }
  }


}
