#sidebar_left {
  i {
    margin-right: 1rem;
  }

  min-height: 100vh;

  .sidebar-heading {
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .list-group {
    width: 15rem;
  }

  .list-group-item {
    border: 0;
  }

  .submenu {
    font-size: 0.9rem;
    margin-left: 0.75rem;
  }
}
  

#sidebar_left {
  #navtree {
    > :first-child {
      margin-top:.5rem;
    }

    .md {
      display:none;
      }

    .help {
      background-color: #17a2b8!important;
      color:white;
      a:hover {
        background-color: #00899F!important;
      }
      span {
        font-weight:400;
        color:white;
      }
      .badge {
        background-color: white;
        color:#17a2b8;
      }
      svg {
        color:white;
      }
    }

    @media(min-width:576px) and (max-width:991.9px) {
      .md {
        display:block;
      }

      .sm-lg {
        display:none;
      }
      .help {
        a:hover {
          background-color: transparent!important;
        }
      }
    }
  }
}


#page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar_left {
    margin-left: 0;
  }

  /*lg*/
  @media (min-width: 992px) {
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #sidebar_left {
      padding-left:2rem;
      box-shadow: .5rem 0rem 1rem rgba(0,0,0,0.02);
      margin-left: 0;

      .dropout-title {
        display:none;
      }

      ul .list-group-item {
        background-color:transparent;
        padding-left:0;
      }

      .sidebar-heading {
        padding: 1rem 0;
      }
      

      hr {
        display: none;
      }
  
      .dropdown {
        width: 100%;

        .dropdown-content {
          font-size:.85rem;
          padding-left:.3rem;

          ul {
            
            &:before{
              background-color:grey;
              content:"";
              display:inline-block;
              height: calc(100% - 1.7rem);
              width:1px;
              position:absolute;
              left:0;
            }
          }

          .list-group-item {
            padding:0.5rem 0.5rem 0.5rem 1.3rem;
            .dropdown {

            &:before{
              background-color: grey;
              content: "";
              display: inline-block;
              height: 1px;
              position: absolute;
              top:.5rem;
              left: -1.3rem;
              width: .8rem;
            }
          }
          }
        }
      }
    }
  }
  /*end lg*/
  

  /*md*/
  @media (min-width:576px) and (max-width:991.9px) {
    #page-content-wrapper {
      min-width: 0;
      width: 100vw;
    }

    #navtree {
      .dropdown-content {
        display:none;
      }
      a > span {
        display:none;
      }
    }
  
    #sidebar_left {
      width: 3.5rem;
      box-shadow: .5rem 0rem 1rem rgba(0,0,0,0.02);

      > * {
        padding-left:1rem;
      }

      .sidebar-heading {
        padding: 1rem 1rem 1rem 0;
      }

      ul {
        margin-left:0;
        .list-group-item {
          background-color:transparent;
        }
      }

      .dropdown-toggle::after {
        content: none;
      }
      
      .dropdown-submenu {
        position: relative;

        ul {
          background-color:white;
        }
    
        a:hover , &:active {
          transition: 0s;
        }

        &:hover .dropdown-content {
          display: block;
          position: relative;
          top: -2rem;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          top: 0;
          z-index: 1;
        }
      }

      .list-group {
        width: 100%;

        .list-group-item {
          padding: 0;
          white-space: nowrap;
        }
    
        .badge {
          position: absolute;
          top: 1rem;
          left:10rem;
          font-size: 0.6rem;
        }
  
        hr {
          margin: .25rem 0rem .25rem 0rem;
          width: 100%;
        }
      }
  
      .dropout-relative {
        position: relative;
        margin: .5rem 0;
      }
  
      .sidebar-dropout {
        width:12rem;
        left: 2.1rem;
        top: 0;
        padding-bottom: 1.5rem;
        position: absolute;
        z-index: 1000;
        margin: 0;
        box-shadow:3px 3px 3px rgb(0, 0, 0, .15);
        background-color:white;

        .dropout-title {
          padding: 0.5rem 1rem;
          position: relative;
          left: -3.1rem;
          width: calc(100% + 3.1rem);
          color:white;
          > span {
            padding-left:3rem;
          }
        }

        li {
          color:black;
        }
        
        a {
          font-size: .85rem;
        }

        .list-group-item {
          height: 3rem;
          padding: 1.25rem 2rem 0rem 2rem;
        }
      }
  
      a {
        z-index: 1000;
      }
    }

    #help-submenu .badge {
      position: absolute;
      top: 1rem;
      left: 6rem;
    }

    .help {
      font-weight:400;
    }
  }
  /*end md*/

  
  #sidebar_left {

  
    .list-true {
      a[data-bs-toggle="collapse"] {
        position: relative;
      }
  
      .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
      }
    }
  }

  /*end page-content-wrapper*/
  
  /*end sidebar*/


  .arrow-none .dropdown-toggle::after {
    content: none;
  }