/* ----- sidebar ----- */

#sidebar_left {
  display:inline-block;
  position:relative;
  height: 100%;
  padding-right:3rem;

  ul {
    width: max-content;
  }

  // collapsed
  &.collapsed {
    width: 3.5rem;
    padding:0;
    box-shadow: .5rem 0rem 1rem rgba(0,0,0,0.02);

    .bi-arrow-left-circle { // switches collapse/expand arrows
      display:none;
    }

    #navtree {
      margin-top:3rem;
      margin-left:0;

      ul {
        display:none;
      }

      .navtreelevel_1 {
        padding: .5rem 1rem;
        
        span {
        display:none;
        }

        &:hover {
          min-width: 14rem;
          background:red;

          span {
            display: inline-block;
          }
          
          ul {
            display:block;
            position: absolute;
            left: 100%;
            min-width: 11rem;
            background: yellow;
            padding: 1rem;
          }
        }
      }
    }

    .sidebar-heading {
      display: none;
    }
  }

  // expanded
  &.expanded {
    padding-left:2rem;
    box-shadow: .5rem 0rem 1rem rgba(0,0,0,0.02);

    .bi-arrow-right-circle { // switches collapse/expand arrows
      display:none;
    }

    .sidebar-heading {
      display: inline-block;
      padding: 1rem 0;
      font-size: 0.8rem;
      text-transform: uppercase;
    }

    .navtreelevel_1 {
      li {
        &:not(:last-child)::after {
          content: "";
          position: absolute;
          height:1rem;
          width: .8rem;
          border-left: 1px solid red;
          transform: translate(50%, -100%);
        }
        &:before { // sets borders in navtree navigation
          content: "";
          display: inline-block;
          height: 1rem;
          width: 0.8rem;
          transform: translate(50%, -25%);
          margin-right: 10px;
          border-radius: 0 0 0 5px;
          border: 1px solid;
          border-color: transparent transparent grey grey;
        }
      }
    }
  }

  #sidebar-toggle-btn {
    display: block;
    float: right;
    position: absolute;
    top: .5rem;
    right: 1rem;
    width: 1.7rem;
    height: 1.7rem;
    padding: 0;

    i {
      margin: 0;
      font-size: 1.6rem;
    }
  }

  #navtree {
    list-style: none;
    padding: 0; 

    i {
      margin-right: 1rem;
    }
  
    a {
      text-decoration:none;
    }
  
    ul {
      list-style: none;
      padding: 0;
    }
  }
}


  
