/* ----- external scss files ----- */
@use "topnav";
@use "sidebar";
@use "mainmenu";
@use "toolbar-top";
@use "mobile-menu";

$threshold_desktop: 1200px;
$threshold_tablet: 900px;
$threshold_mobile: 560px;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  height: 100vh;
  width: 100vw;
}

#wrapper {
  position: fixed; // prevents scrolling
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;

  #page-content-wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - 4rem);
    padding: 0;
    z-index: -100;

    #page-content {
      padding: 1.5rem;
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }
    #content { 
      margin-bottom: auto; // sets footer position 
    }
  }
}

.breadcrumb {
  flex-wrap: wrap-reverse;
  a {
  text-decoration: none;
  &:hover, &:active {
    text-decoration: none;
    }
  }
}

#cone-footer {
  display: flex;
  .footer-copyright {
    margin: auto;
  }
}

/* ----- general styles ----- */

* { // remove button borders
  button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }
  button{
    outline: none;
  }
}

.dropdown-arrow {
  position: relative;
}

.noti-badge-round { // notification badge (with number)
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(0.5rem, -2rem);
  font-size: 10px;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  letter-spacing: -2px;
}

// scrollbars
.scroll-container {
  overflow: hidden;
}
.scroll-content {
  position: relative;

  //tmp
  &:after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid yellow;
    transform: translate(-50%);
  }
}
.scrollbar {
  display: none;
  position: absolute;
  border-radius: 3px;
  z-index: 1000;

  //tmp
  &:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid blue;
    transform: translate(-50%);
  }

  .scroll-handle {
    position: relative;
    border-radius: 3px;

    //tmp
    &:after {
      content:"";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 2px solid #ff0000;
      transform: translate(-50%);
    }
  }
}
