/* ----- toolbar top ----- */
#toolbar-top {
  display: inline-block;
  padding:0;
  height:100%;
  vertical-align: top;

  #toolbar {
    height:100%;
  }

  ul {
    margin:0;
    padding:0;
  }

  li {
    position:relative;
    vertical-align:middle;
  }

  .topnav-element {
    padding: 0 0.5rem;
    height:100%;
    padding-top: 1.2rem;
    
    > a {
      vertical-align:middle;
    }

    > .dropdown-menu-custom {
      min-width:max-content;
      transform: translateX(calc(-100% + 1.3rem));

      > :first-child {
        margin-bottom:1rem;
        font-weight: bold;
        font-size:1rem;
      }
    }
  }

  /* -- language -- */
  #language {
    img {
      margin-right:.5rem;
    }
  }
  
  /*notifications*/
  #notifications {
    width:20rem;
    height:content;
    
    .user-msg {
      display:flex;
      position:absolute;
      width:2rem;
      height:2rem;
      margin-right:1rem;
      margin-top:.3rem;
      border-radius:50%;
      box-shadow: 0 0 1px 1px rgba(53, 59, 65, 0.2);

      > i {
        position: relative;
        margin:auto;
        font-size:1rem;
      }

      img {
        width: 2.5em;
        height: 2.5em;
      }
    }

    .message {
      position:relative;
      left:3rem;
    }
  
    > a .message {
      * {display:block;}

      > :last-child {
        font-size:.7rem;
      }
    }

  }
  
  /* -- apps -- */
  #apps {
    > * {
      display:block;

      &:hover {
        transition: 0.5s;
      }

      .col {
        width:5rem;
        height:5rem; 
        margin: 0;
        margin-bottom:.3rem;
        padding:0;
        text-align: center;
       
        .apps-link {
          height:5rem;
          width:5rem;
          margin:0;
          padding-top:1rem;
          border-radius:5%;
          transition: 0.2s;
  
          img {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            margin: auto;
            margin-bottom:.75rem;
          }
        }
      }

      > * {
        display:inline-block;
      }
    }

    p {
      margin:.25em 0;
    }

    a {
      margin-top:.25rem;
      margin-bottom:.25rem;
      background-color:transparent;
    }

    &.item > :first-child {
      margin-bottom:1rem;
      font-weight:bold;
      background-color:transparent;
      @media(max-width:764.9px) {
        display:none;
      }
    }
  
    /* -- settings -- */
    #settings {
        #toggleMode { // color mode switch
          width:1.7em;
          box-shadow:none;
        }
    }
  }
}