/* ----- toolbar top ----- */
#toolbar-top {
  margin: 0;
  padding: 0;
  white-space: nowrap;

  .dropdown-menu{
    top: auto!important; //override bs top:0px
  }

  > li {
    padding: 0 0.5rem;
    display:inline-block;

    ul {
      padding: 0;
      list-style: none;
    }

    @media(max-width:560px) {
      .toolbar-title {
        display:none;
      }
      .dropdown-menu {
        width: 100vw;
      }
    }
  }

  /* -- language -- */
  #language {
    img {
      margin-right: .5rem;
    }
  }
  
  /*notifications*/
  #notifications {

    .notification {
      display: flex;
      align-items: center;
      margin-bottom: .5rem;
      padding: 0 1rem;
      cursor: pointer;

      .user-img {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        box-shadow: 0 0 1px 1px rgba(53, 59, 65, 0.2);

        img {
          width: 2.5em;
          height: 2.5em;
        }
      }

      .msg {
        display:inline-block;
        margin-left: .5rem;

        p {
          margin: 0;

          &.timestamp {
            font-size: .7rem;
          }
        }
      }

      &.unread::before {
        content: "";
        position: absolute;
        transform: translateX(-150%);
        width: 10px;
        height: 10px;
        background: red;
        border-radius: 50%;
      }
    }
  }
  
  /* -- apps -- */
  #apps {
    #apps-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      max-width: 20rem;
    }

    .apps-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;

      img {
        display: block;
        width: 2rem;
        height: 2rem;
        margin-bottom: .5rem;
      }
    }
  }
  
  /* -- settings -- */
  #settings {
    #toggleMode { // color mode switch
      width: 1.7em;
      box-shadow: none;
    }
  }
}
