/* -- styles of topnav header -- */


#topnav-container {
  > * {
    display:inline-block;
    position:relative;
  }
}

.hamburgerMenu{
  border:none;
  background-color:transparent;
}

.topnav-custom {
  height: 4.2rem;
  box-shadow:0 .5rem 1rem rgba(53, 59, 65, .025);

  div {
    height:inherit;
  }

  .nav-link {
    padding-bottom:1.25rem;
  }

  a, label {
    text-decoration:none;
  }
  a:hover {
    text-decoration:none;
    transition: 0.5s;
  }
  
  .topnav-element {
    display: inline-block;
    padding-top: 0.75rem;
    
  }

  .dropdown-menu-start {
    margin-top:.75rem;
    padding:1rem 2rem;
    box-shadow:0 0 1.5rem rgba(53, 59, 65, 0.1);
  }
}
/*searchbar*/
.searchbar {
  display: inline-block;
  height:2.3rem!important;
  font-size:.95em;
  z-index:1000;
  top:1rem;
  position: absolute;

  .form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .input-group, *:not(svg) {
    height:inherit;
    flex-wrap: nowrap;

    input{
      padding:0.375rem 0.75rem;
      display:block;
      font-size:1em;
      border: 0;
      border-radius: 4px 0 0 4px;
    }
  }

  #searchbar-button {
    padding: 0 .55em;
    margin:0;
    border-radius: 4px;
  }
}

#topnav-searchbar {
  top:0;
  .twitter-typeahead {
    width:200px;
  }

  &.expanded {
    .twitter-typeahead {
      display:block;
      position:absolute;
    }
  }

  &.collapsed {
    .twitter-typeahead {
      width:0!important;
      position:absolute;
    }
  }

  &.toggle-collapse {
    .twitter-typeahead {
      animation: slideout .5s;
      @keyframes slideout {
        from {width: 200px;}
        to {width: 0px;}
      }
    }
  }
  &.toggle-expand {
    .twitter-typeahead {
      animation: slidein .5s;
      @keyframes slidein {
        from {width: 0px;}
        to {width: 200px;}
      }
    }
  }
}
#mobile-searchbar {
  position: absolute;
  top: .5rem;
  margin-left:0;
  width: 100%;
  padding: 0 1rem;
  margin: .5rem 0;
  #search-text {
    position:relative;
    display:inline-block;
  }
}
  /* #search-text {
    display:none;
  } */

/*end searchbar*/


  
  
  
  
  
  .navbar-brand {
    display: inline-block;
    font-size: 1.5rem;
    font-family: Arial;
  
    a {
      text-decoration: none;
    }
  
    .logo {
      height: 2rem;
      margin: .4rem 0 .5rem .5rem;
    }
  }
  
  #topnav-right {
    float: right;
    display: inline-block;
    height: inherit;
  
    .navbar-nav {
      height: inherit;
    }
  }
  
  @media (max-width: 991.9px) {
    .dropdown-menu {
      min-width: 0rem;
    }
  
    .navbar-brand {
      margin-left: 0;
    }
  }
  
  /*user-account*/
  
    /*topnav old styles*/

  #user-account-old {
    min-width:10rem;
    right:0;
    position: absolute;
    top: 0;

    @media (max-width: 991.9px) {
      min-width:4rem;
    }
    .dropdown-menu-user {
      min-width:10rem;
      padding:1rem;
    }
    .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      padding-top:0;
      > * {
        top:.75rem;
      }
    }
  }

  .user-account {
    min-width: 18rem;
    display: inline-block;
    border-left:1px solid rgba(53, 59, 65, 0.1);
    
    .dropdown-item {
      font-weight:300;
    }
    .dropdown-menu-user {
      min-width: 18rem;
      position:absolute;
      left:1rem;
      top: 2.8rem!important;
      margin-top:.25rem;
      .dropdown-item {
        padding:0;
      }
    }
    .user-account-name {
      display: block;
      margin-top:.3rem;
    }
  
    .user-account-position {
      display: block;
      font-size:.8em;
      margin-top:-.3rem;
    }
  
    .profile-image {
      position:absolute;
      vertical-align: top;
      margin-top: 0.25rem;
      width: 2.5em;
      height: 2.5em;
      border-radius: 50% !important;
      box-shadow: 0 0 1px 1px rgba(53, 59, 65, 0.2);
      display: flex;

      > i {
        position: relative;
        margin:auto;
        font-size:1.5rem;
      }
      img {
        width: 2.5em;
        height: 2.5em;
      }
    }

    .user-specs {
      position: absolute;
      left: 4rem;
    }
  }
  
  
  
  @media (max-width: 991.9px) {
    .user-specs {
      display: none;
    }
  
    .user-account {
      min-width: 4rem;
      .dropdown-menu-user {
        min-width: 10rem;
        a {
          padding:0;
          margin:.3em 0;
        }
      }
      .dropdown-item {
        padding:0;
      }
    }
  }

/*end user-account*/

/* mobile menu */
#mobile-menu {
  position: relative;
  display:none;
}
#mobile-menu-content {
  display:none;
  position:absolute;
  left: 0;
  top: 4.25rem;
  height:fit-content;
  min-height:5rem;
  width: 100vw;
  z-index:1000;
  box-shadow:1rem 1rem 1rem -1rem rgb(0, 0, 0, .15);
  border-radius: 0 0 2% 2%;
  overflow:hidden;

  #topnav-searchbar .twitter-typeahead {
    width: 100%;
  }

  li {
    a {
      padding-bottom:0;

      :last-child {
        padding-bottom:1rem;
      }
    }
    &.arrow-none {
      .dropdown-menu {
        display:none;
      }
    }
  }
  .mainmenu-dropdown li {
    margin: .5rem 0;
  }
  .dropdown {
    width: 100%;

    .dropdown-content {
      position:relative;
      left:1rem;
      margin-top:0;
      margin-bottom:1rem;
      display:none;
      font-size:.85rem;
      padding-left:.3rem;
      box-shadow:none;
      border:none;

      .dropdown-title {
        display:none!important;
      }

      .list-group-item {
        padding:0.5rem 0.5rem 0.5rem 1.3rem;
      }
    }
  }

  .dropdown-content {
    font-size:.85rem;
    padding-left:.3rem;
    background-color:transparent;
  }

  .list-group {
    width:100%;
    background-color:transparent;

    .list-group-item {
      background-color: transparent;
    }
  }

  .sidebar-dropout > :first-child {
    display:none;
    background-color:transparent;
  }

  .sidebar-heading {
    padding: 0 1rem;
    background-color:transparent;

    hr {
      margin:0;
    }
  }

  #page-content-wrapper {
    position:absolute;
    z-index: -1;
  }
}

/* end mobile menu */