/* ----- topnav ----- */

$threshold_desktop: 1200px;
$threshold_tablet: 900px;
$threshold_mobile: 560px;

#topnav {
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: .75rem;
  box-shadow: 0 .5rem 1rem rgba(53, 59, 65, .025);

  #personaltools {
    order:1;
  }

  #cone-searchbar {
    margin: 0 1rem;
  }

  ul {
    padding:0;
    margin-bottom: 0;
    list-style: none;
  }
  .cone-dropdown-menu {
    display: none;
  }
  a, label {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    transition: 0.5s;
  }

  .cone-dropdown-menu {
    position: absolute;
    top: 4rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 1.5rem rgba(53, 59, 65, 0.1);
    z-index: 1000;
  }

  @media(min-width:$threshold_mobile) {
    #topnav-content {
      display: contents!important;
    }
    #mobile-menu-toggle {
      display: none;
    }
  }
}


/* ----- logo ----- */
#cone-logo {
  font-size: 1.5rem;
  font-family: Arial;
  margin-right: 2rem;;
  white-space: nowrap;

  a {
    text-decoration: none;

    .logo {
      height: 2rem;
    }

    @media (max-width: $threshold_tablet) {
      span {
        display: none;
      }
    }
  }
}

/* ----- searchbar ----- */
#cone-searchbar {
  min-height: 2.2rem;

  #cone-livesearch-dropdown {
    min-width: 16rem;
    max-height:40rem;
    overflow-y:auto;
    @media(min-width: $threshold_mobile) and (max-width: $threshold_tablet) {
      transform: translateX(calc(-100% + 2rem));
    }
  }

  .twitter-typeahead {
    width: 100%;
  }

  .form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .input-group {
    height: 2.2rem;;
    overflow: hidden;
    border-radius: 4px;
    flex-wrap: nowrap;
  }

  .input-group * {
    flex-wrap: nowrap;
    height: 100%;
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    font-size: 15px!important;
  }

  #searchbar-button {
    width: 2.2rem;
  }

  .twitter-typeahead {
    display: block;
    padding-left: .7rem;
  }

  @media(min-width:$threshold_mobile) and (max-width:$threshold_desktop){
    .twitter-typeahead {
      position: absolute!important;
      width: 0!important;
      z-index: -1;
    }
  }
}

/* ----- personal tools ----- */
#personaltools {
  min-width: 10rem;
  height: 4rem;
  margin-left: .75rem;
  padding: 0 0.75rem;
  border-left: 1px solid rgba(53, 59, 65, 0.1);
  cursor: pointer;

  #pt-wrapper {
    display: flex;
    align-items: center;
    height:inherit;
  }

  #user {
    min-width: inherit;
    margin: 0;
    right: 0;
  }

  .user-specs {
    margin-left: .6rem;
  }

  .profile-image {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50% !important;
    box-shadow: 0 0 1px 1px rgba(53, 59, 65, 0.2);

    > i {
      position: relative;
      font-size: 1.5rem;
    }

    img {
      width: 2.5em;
      height: 2.5em;
    }
  }

  .user-account-name {
    display: block;
  }

  .user-account-position {
    display: block;
    margin-top: -.3rem;
    font-size: .8em;
  }
}

@media (min-width: $threshold_mobile) and (max-width: $threshold_desktop) {
  .user-specs {
    display: none;
  }

  #personaltools {
    min-width: 4.3rem;

    .dropdown-menu-user {
      min-width: 10rem;

      a {
        padding: 0;
        margin: .3em 0;
      }
    }

    .dropdown-item {
      padding: 0;
    }
  }
}
