/* ----- topnav ----- */

$threshold_desktop: 1200px;
$threshold_tablet: 900px;
$threshold_mobile: 560px;

#topnav {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: .75rem;
  box-shadow: 0 .5rem 1rem rgba(53, 59, 65, .025);

  #personaltools {
    order:1;
  }

  .dropdown-toggle::after {//remove bs dropdown arrow
    content:none;
  }

  .dropdown-menu {
    min-width: max-content;
    min-width: max-content;
    padding: 1rem;

    .toolbar-title, .dropdown-title {
      font-weight: bold;
      padding-bottom: 1rem;
      pointer-events: none;
    }
  }

  #cone-searchbar {
    margin: 0 1rem;
  }

  ul {
    margin-bottom: 0;
    list-style: none;
  }

  a, label {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    transition: 0.5s;
  }

  @media(min-width:$threshold_mobile) {
    #topnav-content {
      display: contents!important;
    }
    #mobile-menu-toggle {
      display: none;
    }
  }
}


/* ----- logo ----- */
#cone-logo {
  font-size: 1.5rem;
  font-family: Arial;
  margin-right: 2rem;;
  white-space: nowrap;

  a {
    text-decoration: none;

    .logo {
      height: 2rem;
    }

    @media (max-width: $threshold_tablet) {
      span {
        display: none;
      }
    }
  }
}

/* ----- searchbar ----- */
#cone-searchbar {
  min-height: 2.2rem;

  #cone-searchbar-wrapper {
    height: 4rem;
    display: flex;
    align-items: center;
    cursor: unset;
  }

  #cone-livesearch-dropdown {
    min-width: 0;
    max-width: 16rem;

    li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    }

    #cone-livesearch-results {
      overflow-y:auto;
      max-height: 12rem;
    }

    #livesearch {
      height: 2rem;
      font-size: .9em;
    }
  }

  .twitter-typeahead {
    width: 100%;
  }

  #livesearch:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #livesearch-group {
    height: 2.2rem;;
    overflow: hidden;
    border-radius: 4px;
    flex-wrap: nowrap;
  }

  #livesearch-group * {
    flex-wrap: nowrap;
    height: 100%;
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    font-size: 15px!important;
  }

  #searchbar-button {
    width: 2.2rem;
  }

  #livesearch {
    padding-left: .7rem;
  }

  @media(min-width:$threshold_mobile) and (max-width:$threshold_desktop){
    .dropdown-title {
      font-size: .9em;
    }
    #livesearch {
      margin-bottom: 1rem;
    }
  }
}

/* ----- personal tools ----- */
#personaltools {
  min-width: 10rem;
  height: 4rem;
  margin-left: .75rem;
  padding: 0 0.75rem;
  border-left: 1px solid rgba(53, 59, 65, 0.1);
  cursor: pointer;

  #pt-wrapper {
    display: flex;
    align-items: center;
    height: inherit;
  }

  #user {
    min-width: inherit;
    margin: 0;
    right: 0;
    left:auto!important;
  }

  .dropdown-arrow {
    display:none;
  }

  .user-specs {
    margin-left: .6rem;
  }

  .profile-image {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50% !important;
    box-shadow: 0 0 1px 1px rgba(53, 59, 65, 0.2);

    > i {
      position: relative;
      font-size: 1.5rem;
    }

    img {
      width: 2.5em;
      height: 2.5em;
    }
  }

  .user-account-name {
    display: block;
  }

  .user-account-position {
    display: block;
    margin-top: -.3rem;
    font-size: .8em;
  }
}

@media (min-width: $threshold_mobile) and (max-width: $threshold_desktop) {
  .user-specs {
    display: none;
  }

  #personaltools {
    min-width: 4.3rem;

    #user {
      min-width: 10rem;

      a {
        padding: 0;
        margin: .3em 0;
      }
    }

    .dropdown-item {
      padding: 0;
    }
  }
}
