name: Tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python:
        - "3.9"
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"

    steps:
      - uses: actions/checkout@v3

      - name: Install pnpm
        run: pnpm install

      - name: Check pnpm version
        run: pnpm --version

      - name: Install Project
        run: make install

      - name: Run Tests
        run: make test
