name: Tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python:
        - "3.9"
        - "3.10"
        - "3.11"
        # - "3.12"
        # - "3.13"

    steps:
      - uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Check Python Version
        run: python --version

      - name: Corepack
        run: |
          npm install --global corepack@latest
          corepack enable

      - name: Install Project
        run: pnpm install

      - name: Run Tests
        run: make test
