/* ----- dark mode ----- */
/*
----- scss color definitions -----
document gets imported to light.scss and dark.scss
changes mode to light or dark by changing source file .css
*/
body {
  background-color: #2E2E33;
}

.active > a {
  color: #5bc0de !important;
}

/* ----- dropdowns ----- */
.dropdown-menu, .cone-mainmenu-dropdown {
  background-color: #48484D;
  border: 1px solid #2E2E33;
  box-shadow: 0 0 1.5rem rgba(53, 59, 65, 0.1);
}
.dropdown-menu a, .cone-mainmenu-dropdown a {
  color: #949499;
  text-decoration: none;
}
.dropdown-menu a:hover, .cone-mainmenu-dropdown a:hover {
  color: #dfe8f0;
  transition: color 0.25s;
  background: transparent;
}

/* ----- topnav ----- */
#topnav {
  background-color: #434348;
}
#topnav .apps-link:hover {
  background-color: #38383D;
  transition: background-color 0.25s;
}
#topnav.mobile #topnav-content {
  background-color: #38383D;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#topnav.mobile #personaltools::before {
  background-color: #949499;
}

/* ----- main menu ----- */
#mainmenu .dropdown-title {
  background-color: #5bc0de;
  color: white;
}
#mainmenu li:hover > a {
  color: #dfe8f0;
  transition: 0.25s;
}

/* ----- mobile menu ----- */
#mobile-menu-toggle {
  color: #949499;
}

#mobile-menu-content {
  border: 1px solid #2E2E33;
  border-top: none;
  background-color: #38383D;
}
#mobile-menu-content .sidebar-heading hr {
  border-top: 1px solid rgba(230, 230, 235, 0.2);
}

/* ----- searchbar ----- */
#cone-searchbar .dropdown-title, #cone-searchbar span {
  color: #949499;
}
#cone-searchbar input {
  color: #E6E6EB !important;
}
#cone-searchbar .input-group {
  background-color: #57575C;
}
#cone-searchbar #searchbar-button {
  background-color: #5bc0de;
  color: #ECF5FD;
}
#cone-searchbar #cone-livesearch-dropdown #livesearch:focus {
  border-color: #5bc0de;
}

/* ----- toolbar top ----- */
#toolbar-top {
  /* -- notifications -- */
}
#toolbar-top li {
  color: #949499;
}
#toolbar-top li:hover i {
  color: #dfe8f0;
  transition: 0.5s;
  cursor: pointer;
}
#toolbar-top li li:hover {
  color: #dfe8f0;
  transition: color 0.5s;
}
#toolbar-top #notifications .user-img {
  background-color: #2E2E33;
  border: 1px solid #ECF5FD;
}
#toolbar-top #notifications .user-img > i {
  color: #E6E6EB;
}

/* -- user account -- */
#personaltools {
  color: #E6E6EB;
  background-color: #38383D;
}
#personaltools .profile-image {
  background-color: #2E2E33;
  border: 1px solid #ECF5FD;
}
#personaltools .profile-image > i {
  color: #E6E6EB;
}

/* ----- sidebar left ----- */
#sidebar_left {
  background-color: #38383D;
  border-right: 1px solid #2E2E33;
  /* .help {
     color: white;
   }
  */
}
#sidebar_left #sidebar-toggle-btn {
  color: rgba(230, 230, 235, 0.3);
}
#sidebar_left li.active .dropout > a {
  color: #5bc0de;
}
#sidebar_left .sidebar-heading {
  color: #E6E6EB;
}
#sidebar_left.collapsed #navtree .navtreelevel_1:hover {
  background: #5bc0de;
}
#sidebar_left.collapsed #navtree .navtreelevel_1:hover > a {
  color: white;
}
#sidebar_left.collapsed #navtree .navtreelevel_1:hover ul {
  background: #434348;
  border: 1px solid #2E2E33;
}

/* ----- breadcrumb ----- */
.breadcrumb h2 {
  color: #E6E6EB;
  font-size: 1.2rem;
  font-weight: semibold;
}
.breadcrumb a {
  color: #949499;
}
.breadcrumb a:hover, .breadcrumb a:active {
  color: #dfe8f0;
}
.breadcrumb .breadcrumb-item.active {
  color: #E6E6EB;
}

/* ----- footer ----- */
.footer-custom {
  border-top: 1px solid #949499;
  color: #949499;
}

/* ----- general styles ----- */
/* -- links -- */
a, label {
  color: #949499;
}

a:hover {
  color: #dfe8f0;
}

/* -- badges, buttons -- */
.noti-badge-round {
  background: red;
  color: white;
}

.btn-inf {
  background-color: #5bc0de;
  color: #ECF5FD;
}

.form-check-input:checked {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

/* -- scrollbar -- */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #2E2E33;
}

::-webkit-scrollbar-thumb {
  background: #949499;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dfe8f0;
}

/*# sourceMappingURL=dark.css.map */
