/* ----- dark mode ----- */
/*
----- scss color definitions -----
document gets imported to light.scss and dark.scss
changes mode to light or dark by changing source file .css
*/
body {
  background: #2E2E33;
}

.active > a {
  color: #5bc0de !important;
}

/* ----- dropdowns ----- */
.dropdown-menu, .cone-mainmenu-dropdown {
  background-color: #48484D;
  border: 1px solid #2E2E33;
  box-shadow: 0 0 1.5rem rgba(53, 59, 65, 0.1);
}
.dropdown-menu a, .cone-mainmenu-dropdown a {
  color: #949499;
  text-decoration: none;
}
.dropdown-menu a:hover, .cone-mainmenu-dropdown a:hover {
  color: #dfe8f0;
  transition: color 0.25s;
  background: transparent;
}

/* ----- topnav ----- */
#topnav {
  background-color: #434348;
}
#topnav .apps-link:hover {
  background-color: #38383D;
  color: #dfe8f0;
  transition: all 0.25s;
}
#topnav.mobile #topnav-content {
  background-color: #38383D;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#topnav.mobile #personaltools::before {
  background-color: #949499;
}

/* ----- main menu ----- */
#mainmenu .dropdown-title {
  background-color: #5bc0de;
  color: white;
}
#mainmenu li.active i {
  color: #5bc0de;
}
#mainmenu li:hover > * {
  color: #dfe8f0;
  transition: 0.25s;
}

/* ----- mobile menu ----- */
#topnav.mobile .sidebar-heading {
  border-top: 1px solid #949499;
  color: #E6E6EB;
}
#topnav.mobile .sidebar-heading#navtree-heading:hover {
  color: #5bc0de;
  transition: color 0.25s;
}
#topnav.mobile .dropdown-arrow:hover {
  color: #5bc0de;
  transition: color 0.3s;
}
#topnav.mobile #personaltools {
  border-top: 1px solid #949499;
}
#topnav.mobile #personaltools #pt-wrapper:hover {
  color: #5bc0de;
  transition: color 0.3s;
}
#topnav.mobile #personaltools #pt-wrapper:hover .profile-image {
  box-shadow: none;
  border-color: #5bc0de;
  transition: all 0.3s;
}
#topnav.mobile #personaltools #pt-wrapper:hover .profile-image > i {
  color: #5bc0de;
  transition: color 0.3s;
}

#mobile-menu-toggle {
  color: #949499;
}

#mobile-menu-content {
  border: 1px solid #2E2E33;
  border-top: none;
  background-color: #38383D;
}

/* ----- searchbar ----- */
#cone-searchbar .dropdown-title, #cone-searchbar span {
  color: #949499;
}
#cone-searchbar input {
  color: #E6E6EB !important;
}
#cone-searchbar .input-group {
  background-color: #57575C;
}
#cone-searchbar #searchbar-button {
  background-color: #5bc0de;
  color: #ECF5FD;
}
#cone-searchbar #cone-livesearch-dropdown #livesearch:focus {
  border-color: #5bc0de;
}

/* ----- toolbar top ----- */
#toolbar-top {
  /* -- notifications -- */
}
#toolbar-top li {
  color: #949499;
}
#toolbar-top li:hover > i {
  color: #dfe8f0;
  transition: 0.5s;
  cursor: pointer;
}
#toolbar-top li li:hover {
  color: #dfe8f0;
  transition: color 0.5s;
}
#toolbar-top #notifications .user-img {
  background-color: #2E2E33;
  border: 1px solid #ECF5FD;
}
#toolbar-top #notifications .user-img > i {
  color: #E6E6EB;
}
#toolbar-top #notifications > ul {
  display: none;
}
#toolbar-top .tb-tooltip {
  background: #2E2E33;
  color: #E6E6EB;
}
#toolbar-top #toolbar_actions > span::before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #2E2E33;
}
#toolbar-top .notification.priority.unread.high {
  background: rgba(230, 0, 0, 0.1);
}
#toolbar-top .notification.priority.unread.high * {
  color: #e60000;
}
#toolbar-top .notification.priority.unread.high:hover * {
  color: #e60000;
}
#toolbar-top .notification.priority.unread.high::before {
  color: #e60000;
}
#toolbar-top .notification.priority.unread.medium {
  background: rgba(255, 156, 7, 0.1);
}
#toolbar-top .notification.priority.unread.medium * {
  color: #ff9c07;
}
#toolbar-top .notification.priority.unread.medium:hover * {
  color: #ff9c07;
}
#toolbar-top .notification.priority.unread.low {
  background: rgba(91, 192, 222, 0.1);
}
#toolbar-top .notification.priority.unread.low * {
  color: #5bc0de;
}
#toolbar-top .notification.priority.unread.low:hover * {
  color: #5bc0de;
}
#toolbar-top .notification.priority.read {
  background: #2E2E33;
}
#toolbar-top #toolbar_actions > span:hover {
  cursor: pointer;
  color: #dfe8f0;
}

/* -- personal tools -- */
#personaltools {
  color: #E6E6EB;
  background-color: #38383D;
}
#personaltools .profile-image {
  background-color: #2E2E33;
  border: 1px solid #ECF5FD;
}
#personaltools .profile-image > i {
  color: #E6E6EB;
}

/* ----- sidebar left ----- */
#sidebar_left {
  background-color: #38383D;
  border-right: 1px solid #2E2E33;
  /* .help {
     color: white;
   }
  */
}
#sidebar_left #sidebar-toggle-btn {
  color: rgba(230, 230, 235, 0.3);
}
#sidebar_left #sidebar_footer {
  background-color: #38383D;
}
#sidebar_left .sidebar-heading {
  color: #E6E6EB;
}
#sidebar_left #toggle-fluid {
  color: #949499;
}
#sidebar_left #toggle-fluid.active {
  color: #5bc0de;
}
#sidebar_left.collapsed #sidebar_content > :not(:first-child):before {
  background: #949499;
}
#sidebar_left.collapsed #navtree .navtreelevel_1.hover {
  background: #5bc0de;
}
#sidebar_left.collapsed #navtree .navtreelevel_1.hover > a {
  color: white;
}
#sidebar_left.collapsed #navtree .navtreelevel_1.hover ul {
  background: #434348;
  border: 1px solid #2E2E33;
}
#sidebar_left.collapsed #mainmenu_sidebar > li.hover {
  background: #5bc0de;
}
#sidebar_left.collapsed #mainmenu_sidebar > li.hover > a {
  color: white;
}
#sidebar_left.collapsed #mainmenu_sidebar > li.hover ul {
  background: #434348;
  border: 1px solid #2E2E33;
}

/* ----- breadcrumb ----- */
.breadcrumb h2 {
  color: #E6E6EB;
  font-size: 1.2rem;
  font-weight: semibold;
}
.breadcrumb a {
  color: #949499;
}
.breadcrumb a:hover, .breadcrumb a:active {
  color: #dfe8f0;
}
.breadcrumb .breadcrumb-item.active {
  color: #E6E6EB;
}

/* ----- content ----- */
#content {
  color: #949499;
}

/* ----- footer ----- */
#cone-footer {
  color: #949499;
}

/* ----- general styles ----- */
/* -- links -- */
a, label {
  color: #949499;
}

a:hover {
  color: #dfe8f0;
}

/* -- badges, buttons -- */
.noti-badge-round {
  background: red;
  color: white;
}

.btn-inf {
  background-color: #5bc0de;
  color: #ECF5FD;
}

.form-check-input:checked {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.dropdown-arrow {
  color: #E6E6EB;
}

/* -- scrollbar -- */
.scrollbar {
  background: rgba(230, 230, 235, 0.1);
}
.scrollbar .scroll-handle {
  background: rgba(230, 230, 235, 0.2);
}
.scrollbar .scroll-handle:hover, .scrollbar .scroll-handle.active {
  background: #5bc0de;
}

#notifications .notification.priority.unread.high {
  background: #e60000;
}
#notifications .notification.priority.unread.high * {
  color: white;
}
#notifications .notification.priority.unread.high:hover * {
  color: white;
}
#notifications .notification.priority.unread.high::before {
  color: white;
}
#notifications .notification.priority.unread.medium {
  background: #ff9c07;
}
#notifications .notification.priority.unread.medium * {
  color: white;
}
#notifications .notification.priority.unread.medium:hover * {
  color: white;
}
#notifications .notification.priority.unread.low {
  background: #5bc0de;
}
#notifications .notification.priority.unread.low * {
  color: white;
}
#notifications .notification.priority.unread.low:hover * {
  color: white;
}

/*# sourceMappingURL=dark.css.map */
