/* ----- light mode ----- */
/*body background*/
/*main menus*/
/*secondary menus*/
/*search bar*/
/*font bright*/
/*font light*/
/*font medium*/
/*font hover color*/
/*
----- scss color definitions -----
document gets imported to light.scss and dark.scss
changes mode to light or dark by changing source file .css
*/
body {
  background-color: #F5F5FA;
}

.active > a {
  color: #5bc0de !important;
}

/* ----- dropdowns ----- */
.cone-dropdown-menu {
  background-color: #ffffff;
}
.cone-dropdown-menu a {
  color: #717176;
  text-decoration: none;
}
.cone-dropdown-menu a:hover {
  color: #5bc0de;
  transition: color 0.25s;
}

/* ----- topnav ----- */
#topnav {
  background-color: #ffffff;
}
#topnav .cone-dropdown-menu {
  background-color: white;
  border: 1px solid #EBEBF0;
}
#topnav .apps-link:hover {
  background-color: #FAFAFC;
  transition: background-color 0.25s;
}

/* ----- main menu ----- */
#mainmenu .dropdown-title {
  background-color: #5bc0de;
  color: white;
}
#mainmenu .cone-dropdown-menu a:hover {
  color: #5bc0de;
}

#topnav-mainmenu li:hover > a {
  color: #5bc0de;
}

/* ----- mobile menu ----- */
#mobile-menu-toggle {
  color: #717176;
}

#mobile-menu-content {
  border: 1px solid #EBEBF0;
  border-top: none;
  background-color: #FAFAFC;
}
#mobile-menu-content .sidebar-heading hr {
  border-top: 1px solid rgba(87, 87, 92, 0.2);
}

#mobile-mainmenu #mainmenu .cone-dropdown-menu {
  border: none;
  background: transparent;
}
#mobile-mainmenu li:hover {
  color: #5bc0de;
}

/* ----- searchbar ----- */
#cone-searchbar input {
  color: #57575C !important;
}
#cone-searchbar .input-group {
  background-color: #F5F5FA;
}
#cone-searchbar #searchbar-button {
  background-color: #5bc0de;
  color: #ECF5FD;
}

/* ----- toolbar top ----- */
#toolbar-top {
  /* -- notifications -- */
}
#toolbar-top li {
  color: #717176;
}
#toolbar-top li:hover i {
  color: #5bc0de;
  transition: 0.5s;
  cursor: pointer;
}
#toolbar-top li li:hover {
  color: #5bc0de;
  transition: color 0.5s;
}
#toolbar-top #notifications .user-img {
  background-color: #F5F5FA;
  border: 1px solid #ECF5FD;
}
#toolbar-top #notifications .user-img > i {
  color: #57575C;
}

/* -- user account -- */
#personaltools {
  color: #57575C;
  background-color: #FAFAFC;
}
#personaltools .profile-image {
  background-color: #F5F5FA;
  border: 1px solid #ECF5FD;
}
#personaltools .profile-image > i {
  color: #57575C;
}
#personaltools .dropdown-menu-user a {
  color: #717176;
}
#personaltools .dropdown-menu-user a:hover {
  color: #57575C;
}

/* ----- sidebar left ----- */
#sidebar_left {
  background-color: #FAFAFC;
  border-right: 1px solid #EBEBF0;
}
#sidebar_left #sidebar-toggle-btn {
  color: rgba(87, 87, 92, 0.3);
}
#sidebar_left li.active .dropout > a {
  color: #5bc0de;
}
#sidebar_left .sidebar-heading {
  color: #57575C;
}
#sidebar_left .help {
  color: white;
}
#sidebar_left.collapsed #navtree .navtreelevel_1:hover {
  background: #5bc0de;
}
#sidebar_left.collapsed #navtree .navtreelevel_1:hover > a {
  color: white;
}
#sidebar_left.collapsed #navtree .navtreelevel_1:hover ul {
  background: #ffffff;
  border: 1px solid #EBEBF0;
}

/* ----- breadcrumb ----- */
.breadcrumb h2 {
  color: #57575C;
  font-size: 1.2rem;
  font-weight: semibold;
}
.breadcrumb a {
  color: #717176;
}
.breadcrumb a:hover, .breadcrumb a:active {
  color: #57575C;
}
.breadcrumb .breadcrumb-item.active {
  color: #57575C;
}

/* ----- footer ----- */
.footer-custom {
  border-top: 1px solid #717176;
  color: #717176;
}

/* ----- general styles ----- */
/* -- links -- */
a, label {
  color: #717176;
}

a:hover {
  color: #5bc0de;
}

/* -- badges, buttons -- */
.noti-badge-round {
  background: red;
  color: white;
}

.btn-inf {
  background-color: #5bc0de;
  color: #ECF5FD;
}

/*# sourceMappingURL=light.css.map */
