/* ----- light mode ----- */
/*body background*/
/*main menus*/
/*secondary menus*/
/*search bar*/
/*font bright*/
/*font light*/
/*font medium*/
/*font hover color*/
/*
----- scss color definitions -----
document gets imported to light.scss and dark.scss
changes mode to light or dark by changing source file .css
*/
body {
  background-color: #F5F5FA;
}

/* ----- dropdowns ----- */
.dropdown-menu-custom {
  background-color: #ffffff;
}
.dropdown-menu-custom a {
  color: #717176;
  text-decoration: none;
}
.dropdown-menu-custom a:hover, .dropdown-menu-custom a:active {
  color: #57575C;
}

/* ----- topnav ----- */
#topnav-custom {
  background-color: #ffffff;
}
#topnav-custom .dropdown-menu-custom {
  background-color: white;
  border: 1px solid #EBEBF0;
}
#topnav-custom .apps-link:hover {
  background-color: #FAFAFC;
  color: #57575C;
}

/* ----- main menu ----- */
#mainmenu .dropdown-title {
  background-color: #5bc0de;
  color: white;
}
#mainmenu .dropdown-menu-custom a:hover {
  color: #5bc0de;
}

#topnav-mainmenu li:hover > a {
  color: #5bc0de;
}

/* ----- mobile menu ----- */
.hamburgerMenu {
  color: #717176;
}

#mobile-menu-content {
  border: 1px solid #EBEBF0;
  border-top: none;
  background-color: #FAFAFC;
}
#mobile-menu-content .dropdown-submenu a:hover, #mobile-menu-content .dropdown-submenu a:active {
  color: #5bc0de;
}
#mobile-menu-content .list-group .list-group-item {
  color: #717176;
}
#mobile-menu-content .list-group .help {
  color: white;
}
#mobile-menu-content .sidebar-heading hr {
  border-top: 1px solid rgba(87, 87, 92, 0.2);
}

#mobile-mainmenu li:hover {
  background-color: #F5F5FA;
  color: #5bc0de;
  transition: background-color 0.4s;
}
#mobile-mainmenu .dropdown-menu-custom {
  background: transparent;
  border: none;
}

/* ----- searchbar ----- */
.searchbar input {
  color: #57575C !important;
}
.searchbar .input-group {
  background-color: #F5F5FA;
}
.searchbar #searchbar-button {
  background-color: #5bc0de;
  color: #ECF5FD;
}

/* ----- toolbar top ----- */
#toolbar-top {
  /* -- notifications -- */
  /* -- logo -- */
}
#toolbar-top.item > :first-child {
  color: #57575C;
}
#toolbar-top .topnav-element {
  color: #717176;
}
#toolbar-top .topnav-element:hover i {
  color: #5bc0de;
  transition: 0.5s;
  cursor: pointer;
}
#toolbar-top #notifications .user-msg {
  background-color: #F5F5FA;
  border: 1px solid #ECF5FD;
}
#toolbar-top #notifications .user-msg > i {
  color: #57575C;
}
#toolbar-top .navbar-brand a {
  color: #57575C;
}

/* -- user account -- */
#personaltools {
  color: #57575C;
  background-color: #FAFAFC;
}
#personaltools a:hover, #personaltools:active {
  color: #57575C;
}
#personaltools .profile-image {
  background-color: #F5F5FA;
  border: 1px solid #ECF5FD;
}
#personaltools .profile-image > i {
  color: #57575C;
}
#personaltools .dropdown-menu-user a {
  color: #717176;
}
#personaltools .dropdown-menu-user a:hover {
  color: #57575C;
}

/* ----- sidebar left ----- */
#sidebar_left {
  background-color: #FAFAFC;
}
#sidebar_left #sidebar-toggle-btn {
  color: rgba(87, 87, 92, 0.3);
}
#sidebar_left li.active .dropdown > a {
  color: #5bc0de;
}
#sidebar_left .sidebar-heading {
  color: #57575C;
}
#sidebar_left .help {
  color: white;
}

/* ----- sidebar left expanded ----- */
@media (min-width: 992px) {
  #sidebar_left {
    border-right: 1px solid #EBEBF0;
  }
  #sidebar_left .dropdown-submenu a:hover, #sidebar_left a:active {
    color: #5bc0de;
  }
}
/* ----- sidebar left collapsed ----- */
@media (min-width: 576px) and (max-width: 991.9px) {
  #sidebar_left {
    border-right: 1px solid #EBEBF0;
  }
  #sidebar_left .dropdown-submenu a:hover, #sidebar_left .dropdown-submenu:active {
    color: #5bc0de;
  }
  #sidebar_left ul > li:hover i, #sidebar_left:active i {
    color: white;
  }
  #sidebar_left #navtree .dropout-title {
    background-color: #5bc0de;
  }
  #sidebar_left .sidebar-dropout {
    background-color: #F5F5FA;
  }
  #sidebar_left .sidebar-dropout .dropout-title {
    color: #ECF5FD;
    background-color: #5bc0de;
    font-weight: 400;
  }
  #sidebar_left .sidebar-heading hr {
    border-top: 1px solid rgba(87, 87, 92, 0.5);
  }
}
/* ----- breadcrumb ----- */
.breadcrumb h2 {
  color: #57575C;
  font-size: 1.2rem;
  font-weight: semibold;
}
.breadcrumb a {
  color: #717176;
}
.breadcrumb a:hover, .breadcrumb a:active {
  color: #57575C;
}
.breadcrumb .breadcrumb-item.active {
  color: #57575C;
}

/* ----- footer ----- */
.footer-custom {
  border-top: 1px solid #717176;
  color: #717176;
}

/* ----- general styles ----- */
/* -- links -- */
a, label {
  color: #717176;
}

a:hover {
  color: #5bc0de;
}

/* -- badges, buttons -- */
.noti-badge-round {
  background: red;
  color: white;
}

.btn-inf {
  background-color: #5bc0de;
  color: #ECF5FD;
}

/*# sourceMappingURL=light.css.map */
