/* ----- light mode ----- */
/*body background*/
/*main menus*/
/*secondary menus*/
/*search bar*/
/*font bright*/
/*font light*/
/*font medium*/
/*font hover color*/
/*
----- scss color definitions -----
document gets imported to light.scss and dark.scss
changes mode to light or dark by changing source file .css
*/
body {
  background: #F5F5FA;
}

.active > a {
  color: #5bc0de !important;
}

/* ----- dropdowns ----- */
.dropdown-menu, .cone-mainmenu-dropdown {
  background-color: white;
  border: 1px solid #EBEBF0;
  box-shadow: 0 0 1.5rem rgba(53, 59, 65, 0.1);
}
.dropdown-menu a, .cone-mainmenu-dropdown a {
  color: #717176;
  text-decoration: none;
}
.dropdown-menu a:hover, .cone-mainmenu-dropdown a:hover {
  color: #5bc0de;
  transition: color 0.25s;
  background: transparent;
}

/* ----- topnav ----- */
#topnav {
  background-color: #ffffff;
}
#topnav .apps-link:hover {
  background-color: #FAFAFC;
  color: #5bc0de;
  transition: all 0.25s;
}
#topnav.mobile #topnav-content {
  background-color: #FAFAFC;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#topnav.mobile #personaltools::before {
  background-color: #717176;
}

/* ----- main menu ----- */
#mainmenu .dropdown-title {
  background-color: #5bc0de;
  color: white;
}
#mainmenu li.active i {
  color: #5bc0de;
}
#mainmenu li:hover > * {
  color: #5bc0de;
  transition: 0.25s;
}

/* ----- mobile menu ----- */
#topnav.mobile .sidebar-heading {
  border-top: 1px solid #717176;
  color: #57575C;
}
#topnav.mobile .sidebar-heading#navtree-heading:hover {
  color: #5bc0de;
  transition: color 0.25s;
}
#topnav.mobile .dropdown-arrow:hover {
  color: #5bc0de;
  transition: color 0.3s;
}
#topnav.mobile #personaltools {
  border-top: 1px solid #717176;
}
#topnav.mobile #personaltools #pt-wrapper:hover {
  color: #5bc0de;
  transition: color 0.3s;
}
#topnav.mobile #personaltools #pt-wrapper:hover .profile-image {
  box-shadow: none;
  border-color: #5bc0de;
  transition: all 0.3s;
}
#topnav.mobile #personaltools #pt-wrapper:hover .profile-image > i {
  color: #5bc0de;
  transition: color 0.3s;
}

#mobile-menu-toggle {
  color: #717176;
}

#mobile-menu-content {
  border: 1px solid #EBEBF0;
  border-top: none;
  background-color: #FAFAFC;
}

/* ----- searchbar ----- */
#cone-searchbar .dropdown-title, #cone-searchbar span {
  color: #717176;
}
#cone-searchbar input {
  color: #57575C !important;
}
#cone-searchbar .input-group {
  background-color: #F5F5FA;
}
#cone-searchbar #searchbar-button {
  background-color: #5bc0de;
  color: #ECF5FD;
}
#cone-searchbar #cone-livesearch-dropdown #livesearch:focus {
  border-color: #5bc0de;
}

/* ----- toolbar top ----- */
#toolbar-top {
  /* -- notifications -- */
}
#toolbar-top li {
  color: #717176;
}
#toolbar-top li:hover > i {
  color: #5bc0de;
  transition: 0.5s;
  cursor: pointer;
}
#toolbar-top li li:hover {
  color: #5bc0de;
  transition: color 0.5s;
}
#toolbar-top #notifications .user-img {
  background-color: #F5F5FA;
  border: 1px solid #ECF5FD;
}
#toolbar-top #notifications .user-img > i {
  color: #57575C;
}

/* -- personal tools -- */
#personaltools {
  color: #57575C;
  background-color: #FAFAFC;
}
#personaltools .profile-image {
  background-color: #F5F5FA;
  border: 1px solid #ECF5FD;
}
#personaltools .profile-image > i {
  color: #57575C;
}

/* ----- sidebar left ----- */
#sidebar_left {
  background-color: #FAFAFC;
  border-right: 1px solid #EBEBF0;
  /* .help {
     color: white;
   }
  */
}
#sidebar_left #sidebar-toggle-btn {
  color: rgba(87, 87, 92, 0.3);
}
#sidebar_left #sidebar_footer {
  background-color: #FAFAFC;
}
#sidebar_left .sidebar-heading {
  color: #57575C;
}
#sidebar_left #toggle-fluid {
  color: #717176;
}
#sidebar_left #toggle-fluid.active {
  color: #5bc0de;
}
#sidebar_left.collapsed #sidebar_content > :not(:first-child):before {
  background: #717176;
}
#sidebar_left.collapsed #navtree .navtreelevel_1.hover {
  background: #5bc0de;
}
#sidebar_left.collapsed #navtree .navtreelevel_1.hover > a {
  color: white;
}
#sidebar_left.collapsed #navtree .navtreelevel_1.hover ul {
  background: #ffffff;
  border: 1px solid #EBEBF0;
}
#sidebar_left.collapsed #mainmenu_sidebar > li.hover {
  background: #5bc0de;
}
#sidebar_left.collapsed #mainmenu_sidebar > li.hover > a {
  color: white;
}
#sidebar_left.collapsed #mainmenu_sidebar > li.hover ul {
  background: #ffffff;
  border: 1px solid #EBEBF0;
}

/* ----- breadcrumb ----- */
.breadcrumb h2 {
  color: #57575C;
  font-size: 1.2rem;
  font-weight: semibold;
}
.breadcrumb a {
  color: #717176;
}
.breadcrumb a:hover, .breadcrumb a:active {
  color: #5bc0de;
}
.breadcrumb .breadcrumb-item.active {
  color: #57575C;
}

/* ----- content ----- */
#content {
  color: #717176;
}

/* ----- footer ----- */
#cone-footer {
  color: #717176;
}

/* ----- general styles ----- */
/* -- links -- */
a, label {
  color: #717176;
}

a:hover {
  color: #5bc0de;
}

/* -- badges, buttons -- */
.noti-badge-round {
  background: red;
  color: white;
}

.btn-inf {
  background-color: #5bc0de;
  color: #ECF5FD;
}

.form-check-input:checked {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.dropdown-arrow {
  color: #57575C;
}

/* -- scrollbar -- */
.scrollbar {
  background: rgba(87, 87, 92, 0.1);
}
.scrollbar .scroll-handle {
  background: rgba(87, 87, 92, 0.2);
}
.scrollbar .scroll-handle:hover, .scrollbar .scroll-handle.active {
  background: #5bc0de;
}

/*# sourceMappingURL=light.css.map */
