/* ----- topnav ----- */
#topnav-container > * {
  display: inline-block;
  position: relative;
}

.topnav-custom {
  height: 4.2rem;
  box-shadow: 0 0.5rem 1rem rgba(53, 59, 65, 0.025);
}
.topnav-custom div {
  height: inherit;
}
.topnav-custom .nav-link {
  padding-bottom: 1.25rem;
}
.topnav-custom a, .topnav-custom label {
  text-decoration: none;
}
.topnav-custom a:hover {
  text-decoration: none;
  transition: 0.5s;
}
.topnav-custom .topnav-element {
  display: inline-block;
  padding-top: 0.75rem;
}
.topnav-custom .dropdown-menu-custom {
  margin-top: 0.75rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 1.5rem rgba(53, 59, 65, 0.1);
}

/* ----- searchbar ----- */
.searchbar {
  display: inline-block;
  position: absolute;
  top: 1rem;
  height: 2.3rem !important;
  font-size: 0.95em;
  z-index: 1000;
}
.searchbar .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.searchbar .input-group, .searchbar *:not(svg) {
  height: inherit;
  flex-wrap: nowrap;
}
.searchbar .input-group input, .searchbar *:not(svg) input {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1em;
  border: 0;
  border-radius: 4px 0 0 4px;
}
.searchbar #searchbar-button {
  margin: 0;
  padding: 0 0.55em;
  border-radius: 4px;
}

#topnav-searchbar {
  top: 0;
}
#topnav-searchbar .twitter-typeahead {
  width: 200px;
}
#topnav-searchbar.expanded .twitter-typeahead {
  display: block;
  position: absolute;
}
#topnav-searchbar.collapsed .twitter-typeahead {
  width: 0 !important;
  position: absolute;
}
#topnav-searchbar.toggle-collapse .twitter-typeahead {
  animation: slideout 0.5s;
}
@keyframes slideout {
  from {
    width: 200px;
  }
  to {
    width: 0px;
  }
}
#topnav-searchbar.toggle-expand .twitter-typeahead {
  animation: slidein 0.5s;
}
@keyframes slidein {
  from {
    width: 0px;
  }
  to {
    width: 200px;
  }
}

/* ----- logo ----- */
.navbar-brand {
  display: inline-block;
  font-size: 1.5rem;
  font-family: Arial;
}
.navbar-brand a {
  text-decoration: none;
}
.navbar-brand .logo {
  height: 2rem;
  margin: 0.4rem 0 0.5rem 0.5rem;
}

@media (max-width: 991.9px) {
  .navbar-brand {
    margin-left: 0;
  }
}
/* ----- user account ----- */
#personaltools {
  display: inline-block;
  float: right;
  top: 0;
  min-width: 10rem;
  margin: 0 1.5rem;
  border-left: 1px solid rgba(53, 59, 65, 0.1);
}
@media (max-width: 991.9px) {
  #personaltools {
    min-width: 4rem;
  }
}
#personaltools .dropdown-menu-user {
  min-width: 10rem;
  padding: 1rem;
}
#personaltools .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0;
}
#personaltools .nav-link > * {
  top: 0.75rem;
}
#personaltools .dropdown-item {
  font-weight: 300;
}
#personaltools .dropdown-menu-user {
  position: absolute;
  left: 1rem;
  top: 2.8rem !important;
  min-width: 18rem;
  margin-top: 0.25rem;
}
#personaltools .dropdown-menu-user .dropdown-item {
  padding: 0;
}
#personaltools .user-account-name {
  display: block;
  margin-top: 0.3rem;
}
#personaltools .user-account-position {
  display: block;
  margin-top: -0.3rem;
  font-size: 0.8em;
}
#personaltools .profile-image {
  display: flex;
  position: absolute;
  vertical-align: top;
  width: 2.5em;
  height: 2.5em;
  margin-top: 0.25rem;
  border-radius: 50% !important;
  box-shadow: 0 0 1px 1px rgba(53, 59, 65, 0.2);
}
#personaltools .profile-image > i {
  position: relative;
  margin: auto;
  font-size: 1.5rem;
}
#personaltools .profile-image img {
  width: 2.5em;
  height: 2.5em;
}
#personaltools .user-specs {
  position: absolute;
  left: 4rem;
}

@media (max-width: 991.9px) {
  .user-specs {
    display: none;
  }

  #personaltools {
    min-width: 4rem;
  }
  #personaltools .dropdown-menu-user {
    min-width: 10rem;
  }
  #personaltools .dropdown-menu-user a {
    padding: 0;
    margin: 0.3em 0;
  }
  #personaltools .dropdown-item {
    padding: 0;
  }
}
/* ----- sidebar ----- */
#sidebar_left {
  display: inline-block;
  position: relative;
  height: 100%;
  padding-right: 3rem;
}
#sidebar_left #sidebar-toggle-btn {
  display: block;
  float: right;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  width: 1.7rem;
  height: 1.7rem;
  padding: 0;
}
#sidebar_left #sidebar-toggle-btn i {
  margin: 0;
  font-size: 1.6rem;
}
#sidebar_left i {
  margin-right: 1rem;
}
#sidebar_left .sidebar-heading {
  font-size: 0.8rem;
  text-transform: uppercase;
}
#sidebar_left .list-group {
  width: max-content;
}
#sidebar_left .list-group .list-group-item {
  border: 0;
}

/* ----- expanded ----- */
#sidebar_left.expanded {
  margin-left: 0;
  padding-left: 2rem;
  box-shadow: 0.5rem 0rem 1rem rgba(0, 0, 0, 0.02);
}
#sidebar_left.expanded .bi-arrow-right-circle {
  /*switches collapse/expand arrows*/
  display: none;
}
#sidebar_left.expanded .dropout-title {
  display: none;
}
#sidebar_left.expanded ul .list-group-item {
  padding-left: 0;
  background-color: transparent;
}
#sidebar_left.expanded .sidebar-heading {
  display: inline-block;
  padding: 1rem 0;
}
#sidebar_left.expanded hr {
  display: none;
}
#sidebar_left.expanded .dropdown {
  width: 100%;
}
#sidebar_left.expanded .dropdown .dropdown-content {
  padding-left: 0.3rem;
  font-size: 0.85rem;
}
#sidebar_left.expanded .dropdown .dropdown-content .list-group-item {
  padding: 0.5rem 0.5rem 0.5rem 1.3rem;
}

/* ----- collapsed ----- */
#sidebar_left.collapsed {
  width: 3.5rem;
  box-shadow: 0.5rem 0rem 1rem rgba(0, 0, 0, 0.02);
}
#sidebar_left.collapsed > * {
  padding-left: 1rem;
}
#sidebar_left.collapsed .bi-arrow-left-circle {
  /*switches collapse/expand arrows*/
  display: none;
}
#sidebar_left.collapsed #sidebar-navtree {
  margin-top: 3rem;
}
#sidebar_left.collapsed .sidebar-heading {
  display: none;
}
#sidebar_left.collapsed ul {
  margin-left: 0;
}
#sidebar_left.collapsed ul .list-group-item {
  background-color: transparent;
}
#sidebar_left.collapsed .dropdown-submenu {
  position: relative;
}
#sidebar_left.collapsed .dropdown-submenu ul {
  background-color: white;
}
#sidebar_left.collapsed .dropdown-submenu a:hover, #sidebar_left.collapsed .dropdown-submenu:active {
  transition: 0s;
}
#sidebar_left.collapsed .dropdown-submenu:hover .dropdown-content {
  display: block;
  position: relative;
  top: -2rem;
}
#sidebar_left.collapsed .dropdown-submenu .dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  z-index: 1;
}
#sidebar_left.collapsed .list-group {
  width: 100%;
}
#sidebar_left.collapsed .list-group .list-group-item {
  padding: 0;
  white-space: nowrap;
}
#sidebar_left.collapsed .list-group .badge {
  position: absolute;
  top: 1rem;
  left: 10rem;
  font-size: 0.6rem;
}
#sidebar_left.collapsed .list-group hr {
  width: 100%;
  margin: 0.25rem 0rem 0.25rem 0rem;
}
#sidebar_left.collapsed .dropout-relative {
  position: relative;
  margin: 0.5rem 0;
}
#sidebar_left.collapsed .sidebar-dropout {
  position: absolute;
  top: 0;
  left: 2.1rem;
  width: 12rem;
  margin: 0;
  padding-bottom: 1.5rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  background-color: white;
  z-index: 1000;
}
#sidebar_left.collapsed .sidebar-dropout .dropout-title {
  position: relative;
  left: -3.1rem;
  width: calc(100% + 3.1rem);
  padding: 0.5rem 1rem;
  color: white;
}
#sidebar_left.collapsed .sidebar-dropout .dropout-title > span {
  padding-left: 3rem;
}
#sidebar_left.collapsed .sidebar-dropout li {
  color: black;
}
#sidebar_left.collapsed .sidebar-dropout a {
  font-size: 0.85rem;
}
#sidebar_left.collapsed .sidebar-dropout .list-group-item {
  height: 3rem;
  padding: 1.25rem 2rem 0rem 2rem;
}
#sidebar_left.collapsed a {
  z-index: 1000;
}
#sidebar_left.collapsed a > span {
  display: none;
}
#sidebar_left #help-submenu .badge {
  position: absolute;
  top: 1rem;
  left: 6rem;
}
#sidebar_left .help {
  font-weight: 400;
}

/* ----- mainmenu ----- */
.mainmenu .dropdown-menu-custom {
  min-width: 10rem;
  padding: 0;
}
.mainmenu .nav-item > a {
  display: inline-block;
}
.mainmenu .menu {
  display: inline-block;
}

#topnav-mainmenu {
  margin-right: 2rem;
  /* -- dropdown -- */
}
#topnav-mainmenu.collapsed li:hover .dropdown-content {
  display: block;
}
#topnav-mainmenu li.menu:hover .dropdown-content {
  display: block;
}
#topnav-mainmenu .dropdown-arrow {
  left: -0.4rem;
  font-size: 0.7rem;
}
#topnav-mainmenu .dropdown > div {
  position: absolute;
  top: 3.3rem;
  border-radius: 0;
}
#topnav-mainmenu .dropdown-content {
  display: none;
  position: absolute;
  margin-top: 0;
  z-index: 1;
}
#topnav-mainmenu .mainmenu-dropdown {
  padding-left: 1.5rem;
}
#topnav-mainmenu .mainmenu-dropdown > :first-child {
  position: relative;
  left: -1.5rem;
  padding-left: 1.5rem;
  height: 2.5rem;
  width: calc(100% + 1.5rem);
  margin: 0;
  padding-top: 0.5rem;
  font-weight: bold;
  border: 0;
}
#topnav-mainmenu .mainmenu-dropdown > :only-child {
  margin-bottom: 0;
}
#topnav-mainmenu .mainmenu-dropdown li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.noti-badge-round {
  /*badge for notifications with number*/
  position: relative;
  top: -2.8rem;
  left: 50%;
  font-size: 10px;
  border-radius: 50% !important;
  width: 1rem;
  height: 1rem !important;
  padding: 2px 0px;
}
.noti-badge-round span {
  pointer-events: none;
  letter-spacing: -2px;
}

#toolbar-top {
  display: inline-block;
  height: inherit;
  float: right;
  /*language*/
  /*notifications*/
  /*end notifications*/
  /*apps*/
}
#toolbar-top .navbar-nav {
  height: inherit;
}
#toolbar-top li {
  position: relative;
}
#toolbar-top .topnav-element > .dropdown-menu-custom {
  position: absolute;
  min-width: max-content;
}
#toolbar-top .topnav-element > .dropdown-menu-custom > :first-child {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}
#toolbar-top #language img {
  margin-right: 0.5rem;
}
#toolbar-top #notifications {
  width: 20rem;
  height: content;
}
#toolbar-top #notifications .user-msg {
  display: flex;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 0.3rem;
  box-shadow: 0 0 1px 1px rgba(53, 59, 65, 0.2);
}
#toolbar-top #notifications .user-msg > i {
  position: relative;
  margin: auto;
  font-size: 1rem;
}
#toolbar-top #notifications .user-msg img {
  width: 2.5em;
  height: 2.5em;
}
#toolbar-top #notifications .message {
  position: relative;
  left: 3rem;
}
#toolbar-top #notifications > a .message * {
  display: block;
}
#toolbar-top #notifications > a .message > :last-child {
  font-size: 0.7rem;
}
#toolbar-top #apps {
  /*end apps*/
  /*settings*/
  /*end settings*/
}
#toolbar-top #apps > * {
  display: block;
}
#toolbar-top #apps > *:hover {
  transition: 0.5s;
}
#toolbar-top #apps > * .col {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.3rem;
}
#toolbar-top #apps > * .col .apps-link {
  height: 5rem;
  width: 5rem;
  padding-top: 1rem;
  margin: 0;
  border-radius: 5%;
  transition: 0.2s;
}
#toolbar-top #apps > * .col .apps-link img {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  margin: auto;
  margin-bottom: 0.75rem;
}
#toolbar-top #apps > * > * {
  display: inline-block;
}
#toolbar-top #apps p {
  margin: 0.25em 0;
}
#toolbar-top #apps a {
  background-color: transparent;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
#toolbar-top #apps.item > :first-child {
  margin-bottom: 1rem;
  font-weight: bold;
  background-color: transparent;
}
@media (max-width: 764.9px) {
  #toolbar-top #apps.item > :first-child {
    display: none;
  }
}
#toolbar-top #apps #settings {
  /*mode switch*/
}
#toolbar-top #apps #settings #toggleMode {
  width: 1.7em;
  box-shadow: none;
}

/* ----- mobile menu ----- */
#mobile-menu {
  display: none;
  position: relative;
  line-height: 1;
}
#mobile-menu .dropdown-arrow {
  float: right;
  margin-right: 1rem;
}

.hamburgerMenu {
  border: none;
  background-color: transparent;
}

/* ----- mobile content ----- */
#mobile-menu-content {
  display: none;
  position: absolute;
  left: 0;
  top: 4.25rem;
  height: fit-content;
  min-height: 5rem;
  width: 100vw;
  padding: 0 1rem 2rem 1rem;
  border-radius: 0 0 2% 2%;
  box-shadow: 1rem 1rem 1rem -1rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 1000;
}
#mobile-menu-content #topnav-searchbar .twitter-typeahead {
  width: 100%;
}
#mobile-menu-content li a {
  padding: 0.25rem 0;
}
#mobile-menu-content .dropdown {
  width: 100%;
}
#mobile-menu-content .dropdown .dropdown-content {
  display: none;
  position: relative;
  left: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-left: 0.3rem;
  font-size: 0.85rem;
  box-shadow: none;
  border: none;
}
#mobile-menu-content .dropdown .dropdown-content .dropdown-title {
  display: none !important;
}
#mobile-menu-content .dropdown .dropdown-content .list-group-item {
  padding: 0.5rem 0.5rem 0.5rem 1.3rem;
}
#mobile-menu-content .dropdown-content {
  padding-left: 0.3rem;
  font-size: 0.85rem;
  background-color: transparent;
}
#mobile-menu-content .list-group {
  width: 100%;
  background-color: transparent;
}
#mobile-menu-content .list-group .list-group-item {
  background-color: transparent;
}
#mobile-menu-content .sidebar-dropout > :first-child {
  display: none;
  background-color: transparent;
}
#mobile-menu-content .sidebar-heading {
  position: relative;
  margin-left: -0.5rem;
  margin-bottom: 1rem;
  background-color: transparent;
  font-size: 0.8rem;
  text-transform: uppercase;
}
#mobile-menu-content .sidebar-heading hr {
  display: none;
}
#mobile-menu-content .sidebar-heading::before {
  /*sets separator between mobile content */
  content: "";
  position: absolute;
  bottom: 1.5rem;
  left: -1rem;
  height: 1px;
  width: calc(100% + 2rem);
  background-color: grey;
}

/* ----- mobile main menu ---- */
#mobile-mainmenu .dropdown-title {
  display: none;
}
#mobile-mainmenu .dropdown-menu-custom {
  display: none;
  border: none;
  box-shadow: none;
}
#mobile-mainmenu .dropdown-content > ul {
  margin-left: 1rem;
}
#mobile-mainmenu .mainmenu-dropdown {
  line-height: 1.5;
}
#mobile-mainmenu .mainmenu-dropdown li {
  margin: 0.5rem 0;
}
#mobile-mainmenu #mainmenu {
  line-height: 2;
  flex-direction: column;
  margin-top: 4rem;
}
#mobile-mainmenu #mainmenu li {
  display: block;
  width: 100%;
  padding: 0;
}
#mobile-mainmenu #mainmenu .mainmenu-title {
  display: inline-block;
}
#mobile-mainmenu #mainmenu .navbar-expand .navbar-nav {
  flex-direction: column;
}

/* ----- mobile searchbar ----- */
#mobile-searchbar {
  position: absolute;
  top: 0.5rem;
  width: calc(100% - 2rem);
  margin-left: 0;
  margin: 0.5rem 0;
}
#mobile-searchbar #search-text {
  display: inline-block;
  position: relative;
}

/* ----- mobile navtree ----- */
#mobile-navtree {
  padding-left: 0.5rem;
}

#navtree > :first-child {
  margin-top: 0.5rem;
}
#navtree .dropdown .dropdown-content {
  display: block;
}
#navtree .dropdown .dropdown-content ul {
  border: none;
}
#navtree .dropdown .dropdown-content ul:before {
  background-color: grey;
  content: "";
  display: inline-block;
  height: calc(100% - 2rem);
  width: 1px;
  position: absolute;
  left: 0;
}
#navtree .dropdown .list-group-item .dropdown:before {
  content: "";
  display: inline-block;
  height: 1rem;
  border-radius: 0 0 0 5px;
  border: 1px solid;
  border-color: transparent transparent grey grey;
  position: absolute;
  top: -0.5rem;
  left: -1.3rem;
  width: 0.8rem;
}
#navtree .dropdown .md {
  display: none;
}
#navtree .dropdown .help {
  background-color: #17a2b8 !important;
  color: white;
}
#navtree .dropdown .help a:hover {
  background-color: #00899F !important;
}
#navtree .dropdown .help span {
  font-weight: 400;
  color: white;
}
#navtree .dropdown .help .badge {
  background-color: white;
  color: #17a2b8;
}
#navtree .dropdown .help svg {
  color: white;
}
@media (min-width: 576px) and (max-width: 991.9px) {
  #navtree .dropdown .dropdown-content {
    display: none;
  }
  #navtree .dropdown a > span {
    display: none;
  }
  #navtree .dropdown .md {
    display: block;
  }
  #navtree .dropdown .sm-lg {
    display: none;
  }
  #navtree .dropdown .help a:hover {
    background-color: transparent !important;
  }
}

/* ----- external scss files ----- */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  height: 100vh;
  width: 100vw;
}

#wrapper {
  position: fixed;
  /*prevents scrolling*/
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
#wrapper #page-content-wrapper {
  position: relative;
  width: 100%;
  height: 95%;
  padding: 1.5rem;
  overflow: auto;
  /*scrollable content*/
  z-index: -1;
}
#wrapper #page-content-wrapper #content {
  /*sets footer position */
  min-height: calc(100% - 5rem);
}

.dropdown-menu-custom a {
  text-decoration: none;
}
.dropdown-menu-custom a:hover, .dropdown-menu-custom a:active {
  text-decoration: none;
  transition: 0.5s;
}

.breadcrumb a {
  text-decoration: none;
}
.breadcrumb a:hover, .breadcrumb a:active {
  text-decoration: none;
}

#cone-footer {
  display: flex;
}
#cone-footer .footer-copyright {
  margin: auto;
}

/* ----- general styles ----- */
* {
  /*remove button borders*/
}
* button:focus {
  outline: none;
}
* button::-moz-focus-inner {
  border: 0;
}
* button {
  outline: none;
}

.unread-dot {
  /*messages*/
  width: 10px;
  height: 10px !important;
  background: red;
  border-radius: 50%;
  position: absolute;
  left: 0.7rem;
  top: calc(50% - 10px);
}

.dropdown-arrow {
  position: relative;
}

/*# sourceMappingURL=style.css.map */
