/* general */
body {
    padding-bottom: 70px;
}

/* main nav bar */
.navbar-top {
    border-radius:0;
    border-width:0 0 1px;
}

/* search field */
#search {
    padding-left:10px;
    padding-top:10px;
    padding-right:10px;
}

/* navtree */
#navtree li {
    padding-left:8px;
}
#navtree li > a {
    padding:6px 10px 6px 0px;
}
#navtree li > a:hover {
    color:#333;
    background-color:transparent;
}
#navtree li.active > a {
    font-weight:bold;
}
#navtree li.navtreelevel_1 {
    font-size:130%;
}
#navtree li.navtreelevel_2 {
    font-size:95%;
    margin-left:6px;
    border-left:#cdcdcd 3px solid;
}
#navtree li.navtreelevel_2 > a {
    padding:5px 10px 5px 0px;
}
#navtree li.navtreelevel_3 {
    font-size:95%;
    margin-left:5px;
    border-left:#dddddd 3px solid;
}
#navtree li.navtreelevel_3 > a {
    padding:4px 10px 4px 0px;
}
#navtree li.navtreelevel_4 {
    font-size:95%;
    margin-left:4px;
    border-left:#dedede 3px solid;
}
#navtree li.navtreelevel_4 > a {
    padding:3px 10px 3px 0px;
}
#navtree li.navtreelevel_5 {
    margin-left:4px;
    border-left:#eeeeee 3px solid;
}
#navtree li.navtreelevel_5 > a {
    padding:2px 10px 2px 0px;
}
#navtree li.navtreelevel_6 {
    margin-left:4px;
    border-left:#efefef 3px solid;
}
#navtree li.navtreelevel_6 > a {
    padding:2px 10px 2px 0px;
}

/* table */
.table-heading h4 {
    padding-left:0;
}
.table_filter {
    margin-right:8px;
}
.table_sort {
    font-size:80%;
    color:#428BCA;
}
table tr th:first-child,
table tr td:first-child {
    padding-left:20px;
}
.table-footer .pagination {
    margin-top:0;
    margin-bottom:0;
}
.table_info {
    margin-top:4px;
    margin-bottom:4px;
}

/* copysupport */
tr.selectable td {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
tr.selectable.selected td {
    background-color:#dfeefb;
}
.table-striped > tbody > tr.selectable.selected:nth-child(2n+1) > td {
    background-color:#cfdce7;
}

/* footer */
footer p {
    margin:12px;
}