/* -- styles of topnav header -- */
/*searchbar*/
#topnav-container {
  /*topnav old styles*/
  /*end topnav old styles*/
}
#topnav-container > * {
  display: inline-block;
}
#topnav-container #user-account-old {
  min-width: 10rem;
  position: absolute;
  right: 0;
}
#topnav-container #user-account-old .dropdown-menu-user {
  min-width: 10rem;
  top: 2rem !important;
}
#topnav-container #user-account-old .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0;
}
#topnav-container #user-account-old .nav-link > * {
  top: 0.75rem;
}
#topnav-container #mainmenu {
  margin-right: 2rem;
}
#topnav-container #mainmenu .dropdown-old {
  padding-left: 0;
}
#topnav-container #mainmenu .dropdown-old > :first-child {
  margin-bottom: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: 0;
}
#topnav-container #mainmenu .dropdown-old > :only-child {
  margin-bottom: 0;
}
#topnav-container #mainmenu .dropdown-old li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
#topnav-container #mainmenu .dropdown-menu {
  min-width: 10rem;
}
#topnav-container #mainmenu .dropdown:hover .dropdown-content {
  display: block;
}
#topnav-container #mainmenu .dropdown .dropdown-content {
  display: none;
  z-index: 1;
  margin-top: 0;
}

#topnav-searchbar {
  display: inline-block;
  height: 2.2rem;
  font-size: 0.95em;
}
#topnav-searchbar .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#topnav-searchbar .input-group, #topnav-searchbar *:not(svg) {
  height: inherit;
  flex-wrap: nowrap;
}
#topnav-searchbar .input-group input, #topnav-searchbar *:not(svg) input {
  padding: 0.375rem 0.75rem;
  display: block;
  font-size: 1em;
}
#topnav-searchbar .btn {
  padding: 0 0.5rem;
  margin: 0;
}
@media (min-width: 380px) and (max-width: 1036px) {
  #topnav-searchbar {
    position: absolute;
    top: 1rem;
    margin-left: 0;
  }
  #topnav-searchbar.expanded {
    top: -0.5rem;
  }
  #topnav-searchbar #search-text {
    display: none;
  }
  #topnav-searchbar #search-text {
    position: relative;
  }
}
@media (max-width: 379.9px) {
  #topnav-searchbar {
    width: 100%;
    padding: 0 1rem;
    margin: 0.5rem 0;
  }
}

/*end searchbar*/
.noti-badge-round {
  /*badge for notifications with number*/
  position: relative;
  top: -2.8rem;
  left: 50%;
  font-size: 10px;
  border-radius: 50% !important;
  width: 1rem;
  height: 1rem !important;
  padding: 2px 0px;
}
.noti-badge-round span {
  pointer-events: none;
  letter-spacing: -2px;
}

.topnav-custom {
  height: 4.2rem;
  box-shadow: 0 0.5rem 1rem rgba(53, 59, 65, 0.025);
  /*end apps*/
  /*settings*/
  /*mode switch*/
  /*end settings*/
  /*user-account*/
}
.topnav-custom div {
  height: inherit;
}
.topnav-custom a, .topnav-custom label {
  text-decoration: none;
}
.topnav-custom a:hover {
  text-decoration: none;
  transition: 0.5s;
}
.topnav-custom .topnav-element {
  display: inline-block;
  padding-top: 0.75rem;
}
.topnav-custom .dropdown-menu-end {
  margin-top: 0.75rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 1.5rem rgba(53, 59, 65, 0.1);
  /*language*/
  /*notifications*/
  /*end notifications*/
  /*apps*/
}
.topnav-custom .dropdown-menu-end#language img {
  margin-right: 0.5rem;
}
.topnav-custom .dropdown-menu-end#notifications {
  width: 20rem;
  height: content;
}
.topnav-custom .dropdown-menu-end#notifications .user-msg {
  display: flex;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 0.3rem;
  box-shadow: 0 0 1px 1px rgba(53, 59, 65, 0.2);
}
.topnav-custom .dropdown-menu-end#notifications .user-msg > i {
  position: relative;
  margin: auto;
  font-size: 1rem;
}
.topnav-custom .dropdown-menu-end#notifications .user-msg img {
  width: 2.5em;
  height: 2.5em;
}
.topnav-custom .dropdown-menu-end#notifications .message {
  position: relative;
  left: 3rem;
}
.topnav-custom .dropdown-menu-end#notifications > a .message * {
  display: block;
}
.topnav-custom .dropdown-menu-end#notifications > a .message > :last-child {
  font-size: 0.7rem;
}
.topnav-custom .dropdown-menu-end > * {
  display: block;
}
.topnav-custom .dropdown-menu-end > *:hover {
  transition: 0.5s;
}
.topnav-custom .dropdown-menu-end > * .col {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.3rem;
}
.topnav-custom .dropdown-menu-end > * .col .apps-link {
  height: 5rem;
  width: 5rem;
  padding-top: 1rem;
  margin: 0;
  border-radius: 5%;
  transition: 0.2s;
}
.topnav-custom .dropdown-menu-end > * .col .apps-link img {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  margin: auto;
  margin-bottom: 0.75rem;
}
.topnav-custom .dropdown-menu-end > * > * {
  display: inline-block;
}
.topnav-custom .dropdown-menu-end p {
  margin: 0.25em 0;
}
.topnav-custom .dropdown-menu-end a {
  background-color: transparent;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.topnav-custom .dropdown-menu-end.item > :first-child {
  margin-bottom: 1rem;
  font-weight: bold;
  background-color: transparent;
}
@media (max-width: 764.9px) {
  .topnav-custom .dropdown-menu-end.item > :first-child {
    display: none;
  }
}
.topnav-custom #toggleMode {
  width: 1.7em;
  box-shadow: none;
}
.topnav-custom .navbar-brand {
  display: inline-block;
  font-size: 1.5rem;
  font-family: Arial;
}
.topnav-custom .navbar-brand a {
  text-decoration: none;
}
.topnav-custom .navbar-brand .logo {
  height: 2rem;
  margin: 0.4rem 0 0.5rem 0.5rem;
}
.topnav-custom #topnav-right {
  float: right;
  display: inline-block;
  height: inherit;
}
@media (max-width: 575px) {
  .topnav-custom #topnav-right {
    transition: display 3s;
  }
}
.topnav-custom #topnav-right .navbar-nav {
  height: inherit;
}
@media (max-width: 991.9px) {
  .topnav-custom .dropdown-menu {
    min-width: 0rem;
  }
  .topnav-custom .navbar-brand {
    margin-left: 0;
  }
}
.topnav-custom .user-account {
  min-width: 18rem;
  display: inline-block;
  border-left: 1px solid rgba(53, 59, 65, 0.1);
}
.topnav-custom .user-account .dropdown-item {
  font-weight: 300;
}
.topnav-custom .user-account .dropdown-menu-user {
  min-width: 18rem;
  position: absolute;
  left: 1rem;
  top: 2.8rem !important;
  margin-top: 0.25rem;
}
.topnav-custom .user-account .dropdown-menu-user .dropdown-item {
  padding: 0;
}
.topnav-custom .user-account .user-account-name {
  display: block;
  margin-top: 0.3rem;
}
.topnav-custom .user-account .user-account-position {
  display: block;
  font-size: 0.8em;
  margin-top: -0.3rem;
}
.topnav-custom .user-account .profile-image {
  position: absolute;
  vertical-align: top;
  margin-top: 0.25rem;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50% !important;
  box-shadow: 0 0 1px 1px rgba(53, 59, 65, 0.2);
  display: flex;
}
.topnav-custom .user-account .profile-image > i {
  position: relative;
  margin: auto;
  font-size: 1.5rem;
}
.topnav-custom .user-account .profile-image img {
  width: 2.5em;
  height: 2.5em;
}
.topnav-custom .user-account .user-specs {
  position: absolute;
  left: 4rem;
}
@media (max-width: 991.9px) {
  .topnav-custom .user-specs {
    display: none;
  }
  .topnav-custom .user-account {
    min-width: 4rem;
  }
  .topnav-custom .user-account .dropdown-menu-user {
    min-width: 10rem;
  }
  .topnav-custom .user-account .dropdown-menu-user a {
    padding: 0;
    margin: 0.3em 0;
  }
  .topnav-custom .user-account .dropdown-item {
    padding: 0;
  }
}

/*end user-account*/
#sidebar_left {
  min-height: 100vh;
}
#sidebar_left svg {
  margin-right: 1rem;
}
#sidebar_left .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
#sidebar_left .list-group {
  width: 15rem;
}
#sidebar_left .list-unstyled {
  margin-left: 2rem;
}
#sidebar_left .list-group-item {
  border: 0;
}
#sidebar_left .submenu {
  font-size: 0.9rem;
  margin-left: 0.75rem;
}

#sidebar_left > :first-child {
  margin-top: 0.5rem;
}
#sidebar_left .md {
  display: none;
}
#sidebar_left .help {
  background-color: #17a2b8 !important;
  color: white;
}
#sidebar_left .help a:hover {
  background-color: #00899F !important;
}
#sidebar_left .help span {
  font-weight: 400;
  color: white;
}
#sidebar_left .help .badge {
  background-color: white;
  color: #17a2b8;
}
#sidebar_left .help svg {
  color: white;
}
@media (min-width: 576px) and (max-width: 991.9px) {
  #sidebar_left .md {
    display: block;
  }
  #sidebar_left .sm-lg {
    display: none;
  }
  #sidebar_left .help a:hover {
    background-color: transparent !important;
  }
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar_left {
  margin-left: 0;
}

/*lg*/
@media (min-width: 992px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #sidebar_left {
    box-shadow: 0.5rem 0rem 1rem rgba(0, 0, 0, 0.02);
    margin-left: 0;
  }
  #sidebar_left ul .list-group-item {
    background-color: transparent;
  }
  #sidebar_left hr {
    display: none;
  }
  #sidebar_left .dropdown {
    width: 100%;
  }
  #sidebar_left .dropdown .dropdown-content {
    font-size: 0.85rem;
    padding-left: 0.3rem;
  }
  #sidebar_left .dropdown .dropdown-content .list-group-item {
    padding: 0.5rem 0.5rem 0.5rem 1.3rem;
  }
}
/*end lg*/
/*md*/
@media (min-width: 576px) and (max-width: 991.9px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100vw;
  }

  #help-submenu .badge {
    position: absolute;
    top: 1rem;
    left: 6rem;
  }

  .help {
    font-weight: 400;
  }

  #sidebar_left {
    width: 3.5rem;
    margin-left: 0;
    box-shadow: 0.5rem 0rem 1rem rgba(0, 0, 0, 0.02);
  }
  #sidebar_left ul .list-group-item {
    background-color: transparent;
    height: 3.25rem;
  }
  #sidebar_left .dropdown-toggle::after {
    content: none;
  }
  #sidebar_left .dropdown {
    position: relative;
  }
  #sidebar_left .dropdown .list-group-item {
    background-color: transparent;
  }
  #sidebar_left .dropdown a:hover, #sidebar_left .dropdown:active {
    transition: 0s;
  }
  #sidebar_left .dropdown:hover .dropdown-content {
    display: block;
  }
  #sidebar_left .dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  #sidebar_left .list-group {
    width: inherit;
  }
  #sidebar_left .list-group .list-group-item {
    padding: 0.8rem 1.25rem;
    white-space: nowrap;
  }
  #sidebar_left .list-group .badge {
    position: absolute;
    top: 1rem;
    left: 10rem;
    font-size: 0.6rem;
  }
  #sidebar_left .list-group hr {
    margin: 0.25rem 0rem 0.25rem 0rem;
    width: 100%;
  }
  #sidebar_left .dropout-relative {
    position: relative;
  }
  #sidebar_left .sidebar-dropout {
    width: 12rem;
    left: 3.5rem;
    top: 0;
    padding-bottom: 1.5rem;
    position: absolute;
    z-index: 1000;
    margin: 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    /*dropout title*/
    /*end dropout title*/
  }
  #sidebar_left .sidebar-dropout > :first-child > :first-child {
    padding: 0.8rem 0 1rem 5rem;
    width: calc(100% + 3.5rem);
    margin-left: -3.5rem;
    height: 3.25rem;
  }
  #sidebar_left .sidebar-dropout a {
    font-size: 0.85rem;
  }
  #sidebar_left .sidebar-dropout .list-group-item {
    height: 3rem;
    padding: 1.25rem 2rem 0rem 2rem;
  }
  #sidebar_left a {
    z-index: 1000;
  }
}
/*end md*/
/*sm*/
@media (max-width: 575.9px) {
  .hamburgerMenu {
    border: none;
    background-color: transparent;
  }

  #sidebar_left {
    position: absolute;
    width: 20rem;
    min-height: 0;
    height: min-content;
    width: 100%;
    z-index: 1000;
    box-shadow: 1rem 1rem 1rem -1rem rgba(0, 0, 0, 0.15);
    border-radius: 0 0 2% 2%;
    overflow: hidden;
  }
  #sidebar_left .dropdown {
    width: 100%;
  }
  #sidebar_left .dropdown .dropdown-content {
    font-size: 0.85rem;
    padding-left: 0.3rem;
  }
  #sidebar_left .dropdown .dropdown-content .list-group-item {
    padding: 0.5rem 0.5rem 0.5rem 1.3rem;
  }
  #sidebar_left .dropdown-content {
    font-size: 0.85rem;
    padding-left: 0.3rem;
    background-color: transparent;
  }
  #sidebar_left .list-group {
    width: 100%;
    background-color: transparent;
  }
  #sidebar_left .list-group .list-group-item {
    background-color: transparent;
  }
  #sidebar_left .sidebar-dropout > :first-child {
    display: none;
    background-color: transparent;
  }
  #sidebar_left .sidebar-heading {
    padding: 0 1rem;
    background-color: transparent;
  }
  #sidebar_left .sidebar-heading hr {
    margin: 0;
  }

  #page-content-wrapper {
    position: absolute;
    z-index: -1;
  }
}
/*end sm*/
#sidebar_left .list-true a[data-bs-toggle=collapse] {
  position: relative;
}
#sidebar_left .list-true .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/*end page-content-wrapper*/
/*end sidebar*/
.arrow-none .dropdown-toggle::after {
  content: none;
}

/*use external scss files*/
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

#wrapper {
  overflow-x: hidden;
}

/*dropdown dark*/
.dropdown-menu-dark a {
  text-decoration: none;
}
.dropdown-menu-dark a:hover, .dropdown-menu-dark a:active {
  text-decoration: none;
  transition: 0.5s;
}

/*end dropdown dark*/
/*start content*/
#content-wrapper .card {
  margin: 0rem 2rem 2rem 0rem;
}
#content-wrapper .card .card-header {
  background-color: transparent;
}

/*start breadcrumb*/
.breadcrumb a {
  text-decoration: none;
}
.breadcrumb a:hover, .breadcrumb a:active {
  text-decoration: none;
}

/*end breadcrumb*/
/*start footer*/
.footer-copyright {
  margin: auto;
}

/*end footer*/
/*end content*/
/*remove button borders*/
* button:focus {
  outline: none;
}
* button::-moz-focus-inner {
  border: 0;
}
* button {
  outline: none;
}

/*messages*/
.unread-dot {
  width: 10px;
  height: 10px !important;
  background: red;
  border-radius: 50%;
  position: absolute;
  left: 0.7rem;
  top: calc(50% - 10px);
}

/*fix twitter api input group*/
/* .input-group>.twitter-typeahead {
  position: relative;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.input-group>.twitter-typeahead:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group>.twitter-typeahead>.tt-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-control.tt-input:focus {
  z-index: 3
} */

/*# sourceMappingURL=style.css.map */
