/* ----- topnav ----- */
#topnav {
  height: 4rem;
  box-shadow: 0 0.5rem 1rem rgba(53, 59, 65, 0.025);
}
#topnav .topnav-section {
  padding: 0 0 0 0.75rem;
  vertical-align: top;
  height: 100%;
}
#topnav a, #topnav label {
  text-decoration: none;
}
#topnav a:hover {
  text-decoration: none;
  transition: 0.5s;
}
#topnav .topnav-element {
  display: inline-block;
}
#topnav #topnav-content {
  display: inline-block;
}
#topnav #topnav-content > * {
  vertical-align: top;
  height: 100%;
}
#topnav .cone-dropdown-menu {
  display: none;
  position: absolute;
  top: 4rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 1.5rem rgba(53, 59, 65, 0.1);
  z-index: 1000;
}

/* ----- logo ----- */
#cone-logo {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  font-family: Arial;
}
#cone-logo a {
  text-decoration: none;
}
#cone-logo a .logo {
  height: 2rem;
}
@media (max-width: 991.9px) {
  #cone-logo a span {
    display: none;
  }
}

/* ----- topnav content ----- */
#topnav-content {
  position: relative;
}

/* ----- searchbar ----- */
#topnav-searchbar {
  display: inline-flex;
  align-items: center;
}
#topnav-searchbar .twitter-typeahead {
  width: 200px;
}
#topnav-searchbar.expanded .twitter-typeahead {
  display: block;
  padding-left: 0.7rem;
}
#topnav-searchbar.collapsed .twitter-typeahead {
  position: absolute !important;
  width: 0 !important;
  z-index: -1;
}
#topnav-searchbar.toggle-collapse .twitter-typeahead {
  animation: slideout 0.5s;
}
@keyframes slideout {
  from {
    width: 200px;
  }
  to {
    width: 0px;
  }
}
#topnav-searchbar.toggle-expand .twitter-typeahead {
  animation: slidein 0.5s;
}
@keyframes slidein {
  from {
    width: 0px;
  }
  to {
    width: 200px;
  }
}

.searchbar {
  height: 2.2rem;
}
.searchbar .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.searchbar .input-group {
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  flex-wrap: nowrap;
}
.searchbar .input-group * {
  flex-wrap: nowrap;
  height: 100%;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  font-size: 15px !important;
}
.searchbar #searchbar-button {
  width: 2.2rem;
}

/* ----- tools ----- */
#tools {
  display: inline-block;
  float: right;
}

/* ----- personal tools ----- */
#personaltools {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  min-width: 10rem;
  height: 4rem;
  margin-left: 0.75rem;
  padding: 0 0.75rem;
  border-left: 1px solid rgba(53, 59, 65, 0.1);
  cursor: pointer;
}
#personaltools > div {
  display: inline-block;
}
#personaltools #user {
  min-width: inherit;
  margin: 0;
  right: 0;
}
#personaltools .user-specs {
  position: relative;
  margin-left: 0.6rem;
}
#personaltools .profile-image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50% !important;
  box-shadow: 0 0 1px 1px rgba(53, 59, 65, 0.2);
}
#personaltools .profile-image > i {
  position: relative;
  font-size: 1.5rem;
}
#personaltools .profile-image img {
  width: 2.5em;
  height: 2.5em;
}
#personaltools .user-account-name {
  display: block;
}
#personaltools .user-account-position {
  display: block;
  margin-top: -0.3rem;
  font-size: 0.8em;
}

@media (max-width: 991.9px) {
  .user-specs {
    display: none;
  }

  #personaltools {
    min-width: 4.3rem;
  }
  #personaltools .dropdown-menu-user {
    min-width: 10rem;
  }
  #personaltools .dropdown-menu-user a {
    padding: 0;
    margin: 0.3em 0;
  }
  #personaltools .dropdown-item {
    padding: 0;
  }
}
/* ----- sidebar ----- */
#sidebar_left {
  display: inline-block;
  position: relative;
  height: 100%;
  padding-right: 3rem;
}
#sidebar_left ul {
  width: max-content;
}
#sidebar_left.collapsed {
  width: 3.5rem;
  padding: 0;
  box-shadow: 0.5rem 0rem 1rem rgba(0, 0, 0, 0.02);
}
#sidebar_left.collapsed .bi-arrow-left-circle {
  display: none;
}
#sidebar_left.collapsed #navtree {
  margin-top: 3rem;
  margin-left: 0;
  width: inherit;
}
#sidebar_left.collapsed #navtree .navtreelevel_1 {
  padding: 0.75rem 1rem;
}
#sidebar_left.collapsed #navtree .navtreelevel_1 ul {
  display: none;
}
#sidebar_left.collapsed #navtree .navtreelevel_1 > a > span {
  display: none;
  margin-left: 2rem;
  font-weight: bold;
  color: white;
}
#sidebar_left.collapsed #navtree .navtreelevel_1:hover {
  min-width: 16rem;
}
#sidebar_left.collapsed #navtree .navtreelevel_1:hover span {
  display: inline-block;
}
#sidebar_left.collapsed #navtree .navtreelevel_1:hover ul {
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  min-width: inherit;
  padding: 1.5rem 1rem 1rem 5rem;
}
#sidebar_left.collapsed #navtree .navtreelevel_1:hover ul ul {
  display: none;
}
#sidebar_left.collapsed .sidebar-heading {
  display: none;
}
#sidebar_left.expanded {
  padding-left: 2rem;
  box-shadow: 0.5rem 0rem 1rem rgba(0, 0, 0, 0.02);
}
#sidebar_left.expanded .bi-arrow-right-circle {
  display: none;
}
#sidebar_left.expanded .sidebar-heading {
  padding: 1rem 0;
  font-size: 0.8rem;
  text-transform: uppercase;
}
#sidebar_left.expanded .navtreelevel_1 {
  padding-bottom: 0.5rem;
}
#sidebar_left.expanded .navtreelevel_1 ul {
  margin: 0.25rem 0;
  font-size: 0.95em;
}
#sidebar_left.expanded .navtreelevel_1 ul ul {
  margin-left: 1rem;
}
#sidebar_left.expanded .navtreelevel_1 li:not(:last-child) {
  border-left: 1px solid grey;
}
#sidebar_left.expanded .navtreelevel_1 li:not(:last-child):before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 0.8rem;
  transform: translate(-1px, -25%);
  border-radius: 0 0 0 5px;
  border: 1px solid;
  border-color: transparent transparent grey grey;
}
#sidebar_left.expanded .navtreelevel_1 li:last-child:before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 0.8rem;
  transform: translateY(-25%);
  border-radius: 0 0 0 5px;
  border: 1px solid;
  border-color: transparent transparent grey grey;
}
#sidebar_left #sidebar-toggle-btn {
  display: block;
  float: right;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  width: 1.7rem;
  height: 1.7rem;
  padding: 0;
}
#sidebar_left #sidebar-toggle-btn i {
  margin: 0;
  font-size: 1.6rem;
}
#sidebar_left #navtree {
  list-style: none;
  padding: 0;
}
#sidebar_left #navtree a {
  text-decoration: none;
}
#sidebar_left #navtree ul {
  list-style: none;
  padding: 0;
}

/* ----- mainmenu ----- */
#mainmenu {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
#mainmenu .nav-item > a {
  display: inline-block;
}
#mainmenu ul {
  list-style: none;
}

/* ----- topnav mainmenu ----- */
#topnav-mainmenu {
  display: inline-block;
}
#topnav-mainmenu .cone-dropdown-menu {
  min-width: 10rem;
  padding: 0;
}
#topnav-mainmenu.collapsed .mainmenu-title {
  display: none;
}
#topnav-mainmenu.collapsed .mainmenu-item:hover .cone-dropdown-menu {
  display: block;
}
#topnav-mainmenu.expanded .mainmenu-item:hover .dropdown-title {
  display: none;
}
#topnav-mainmenu.expanded .mainmenu-item:hover .cone-dropdown-menu {
  display: block;
}
#topnav-mainmenu #mainmenu {
  height: 100%;
}
#topnav-mainmenu #mainmenu .mainmenu-item {
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 10px;
}
#topnav-mainmenu #mainmenu .mainmenu-item .dropdown-arrow {
  left: 0.4rem;
  font-size: 0.7rem;
}
#topnav-mainmenu #mainmenu .mainmenu-item .dropdown-title {
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}
#topnav-mainmenu #mainmenu .mainmenu-item .mainmenu-dropdown {
  padding-left: 1.5rem;
}
#topnav-mainmenu #mainmenu .mainmenu-item .mainmenu-dropdown li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* ----- mobile main menu ---- */
#mobile-mainmenu {
  line-height: 2;
}
#mobile-mainmenu #mainmenu .mainmenu-title {
  display: inline-block;
}
#mobile-mainmenu .mainmenu-dropdown {
  line-height: 1.5;
  padding: 0;
}
#mobile-mainmenu .mainmenu-dropdown li {
  margin: 0.5rem 0;
}

/* ----- toolbar top ----- */
#toolbar-top {
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
  /* -- language -- */
  /*notifications*/
  /* -- apps -- */
  /* -- settings -- */
}
@media (max-width: 500px) {
  #toolbar-top .toolbar-title {
    display: none;
  }
  #toolbar-top .topnav-element > .cone-dropdown-menu {
    transform: translateX(-50%);
  }
}
#toolbar-top .topnav-element {
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  padding: 0 0.5rem;
  height: 100%;
}
#toolbar-top .topnav-element > a {
  vertical-align: middle;
}
#toolbar-top .topnav-element > .cone-dropdown-menu {
  min-width: max-content;
  transform: translateX(calc(-100% + 1.3rem));
}
#toolbar-top .topnav-element > .cone-dropdown-menu .toolbar-title {
  font-weight: bold;
  margin-bottom: 1rem;
}
#toolbar-top .topnav-element > .cone-dropdown-menu ul {
  padding: 0;
  list-style: none;
}
#toolbar-top #language li {
  line-height: 1;
}
#toolbar-top #language img {
  margin-right: 0.5rem;
}
#toolbar-top #notifications .notification {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
#toolbar-top #notifications .notification .user-img {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px rgba(53, 59, 65, 0.2);
}
#toolbar-top #notifications .notification .user-img img {
  width: 2.5em;
  height: 2.5em;
}
#toolbar-top #notifications .notification .msg {
  display: inline-block;
  margin-left: 0.5rem;
}
#toolbar-top #notifications .notification .msg p {
  margin: 0;
}
#toolbar-top #notifications .notification .msg p.timestamp {
  font-size: 0.7rem;
}
#toolbar-top #notifications .notification.unread::before {
  content: "";
  position: absolute;
  transform: translateX(-200%);
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}
#toolbar-top #apps #apps-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 20rem;
}
#toolbar-top #apps .apps-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
#toolbar-top #apps .apps-link img {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}
#toolbar-top #settings #toggleMode {
  width: 1.7em;
  box-shadow: none;
}

/* ----- mobile menu ----- */
#mobile-menu {
  display: none;
}
#mobile-menu.active {
  display: inline-flex;
  align-items: center;
}
#mobile-menu .dropdown-arrow {
  float: right;
}

#mobile-menu-toggle {
  border: none;
  background-color: transparent;
}
#mobile-menu-toggle i {
  font-size: 2rem;
}

/* ----- mobile content ----- */
#mobile-menu-content {
  display: none;
  position: absolute;
  left: 0;
  top: 4rem;
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 0 0 10px 10px;
  box-shadow: 1rem 1rem 1rem -1rem rgba(0, 0, 0, 0.15);
  z-index: 1000;
}
#mobile-menu-content #topnav-searchbar .twitter-typeahead {
  width: 100%;
}
#mobile-menu-content .cone-dropdown-menu {
  display: none;
  position: relative;
  top: 0;
  left: 1rem;
  padding: 0;
  font-size: 0.85rem;
  box-shadow: none;
}
#mobile-menu-content .cone-dropdown-menu .dropdown-title {
  display: none !important;
}
#mobile-menu-content .cone-dropdown-menu .list-group-item {
  padding: 0.5rem 0.5rem 0.5rem 1.3rem;
}
#mobile-menu-content .list-group {
  width: 100%;
  background-color: transparent;
}
#mobile-menu-content .list-group .list-group-item {
  background-color: transparent;
}
#mobile-menu-content .sidebar-dropout > :first-child {
  display: none;
  background-color: transparent;
}
#mobile-menu-content .sidebar-heading {
  position: relative;
  margin-left: -0.5rem;
  margin-bottom: 1rem;
  background-color: transparent;
  font-size: 0.8rem;
  text-transform: uppercase;
}
#mobile-menu-content .sidebar-heading hr {
  display: none;
}
#mobile-menu-content .sidebar-heading::before {
  content: "";
  position: absolute;
  bottom: 1.5rem;
  left: -1rem;
  height: 1px;
  width: calc(100% + 2rem);
  background-color: grey;
}

/* ----- mobile searchbar ----- */
#mobile-searchbar {
  width: 100%;
  margin-bottom: 1rem;
}
#mobile-searchbar .searchbar {
  width: 100%;
}
#mobile-searchbar #search-text {
  display: inline-block;
  position: relative;
}

/* ----- mobile navtree ----- */
#mobile-navtree {
  padding-left: 0.5rem;
}

/* ----- external scss files ----- */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  height: 100vh;
  width: 100vw;
}

#wrapper {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
#wrapper #page-content-wrapper {
  position: relative;
  width: 100%;
  height: 95%;
  padding: 1.5rem;
  overflow: auto;
  z-index: -100;
}
#wrapper #page-content-wrapper #content {
  min-height: calc(100% - 5rem);
}

.cone-dropdown-menu a {
  text-decoration: none;
}
.cone-dropdown-menu a:hover, .cone-dropdown-menu a:active {
  text-decoration: none;
  transition: 0.5s;
}

.breadcrumb a {
  text-decoration: none;
}
.breadcrumb a:hover, .breadcrumb a:active {
  text-decoration: none;
}

#cone-footer {
  display: flex;
}
#cone-footer .footer-copyright {
  margin: auto;
}

/* ----- general styles ----- */
* button:focus {
  outline: none;
}
* button::-moz-focus-inner {
  border: 0;
}
* button {
  outline: none;
}

.dropdown-arrow {
  position: relative;
}

.noti-badge-round {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(0.5rem, -0.7rem);
  font-size: 10px;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  letter-spacing: -2px;
}

/*# sourceMappingURL=style.css.map */
